﻿@model string
@{
    ViewData["Title"] = "Withdrawals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/withdrawals.js" asp-append-version="true"></script>
<main class="wallet content container-fluid">
    <div class="wallet__title">
        <h2>Withdrawals</h2>
        <p>
            <span class="wallet__title--name">Currency:</span>
            <select data-bind="options: currencies,
                       optionsText: 'name',
                       value: selectedCurrency,
                       optionsCaption: '--All Currencies--'"></select>
        </p>
        <p>
            <span class="wallet__title--name">Start Date:</span>
            <input type="text" data-bind="value:startDate" placeholder="mm/dd/yyyy" />
        </p>
        <p>
            <span class="wallet__title--name">End Date:</span>
            <input type="text" data-bind="value:endDate" placeholder="mm/dd/yyyy" />
        </p>
        <p>
            <input type="button" value="Filter" data-bind="click:filter" />
        </p>
    </div>
    <div class="wallet__nav">
        <div class="wallet__balances">
        </div>
    </div>
    <div class="wallet__data withdrawals">
        <div class="wallet__titles">
            <div class="wallet__titles-element">
                <span>
                    Status
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Currency
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Quantity
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Time
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Recipient
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Transaction
                </span>
            </div>
        </div>
        <!--ko foreach: withdrawals-->
        <div class="wallet__currency">
            <div class="wallet__currency-element time">
                <span>
                    <!--ko text: status--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <img data-bind="attr: { src: getImage($data.code()),alt:code }" /><!--ko text: name--><!--/ko-->&nbsp;(<!--ko text: code--><!--/ko-->)
                </span>
            </div>
            <div class="wallet__currency-element">
                <span class="color-red">
                    <!--ko text: quantity--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: dateAndTimeDisplay().time--><!--/ko--> <!--ko text: dateAndTimeDisplay().date--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: address--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <a data-bind="attr: { href: transactionUrl },visible:transactionUrl" href="javascript:void(0)" target="_blank">view</a>
                    <!--ko if: !transactionUrl()-->-<!--/ko-->
                </span>
            </div>
        </div>
        <!--/ko-->
    </div>
</main>
    <!--ko if: showExceedMessage-->
    <p style="padding-top:10px">
        <h3 style="color:red;">There are more than 100 items. Please use the top section to filter the results.</h3>
    </p>
    <!--/ko-->
    <script>
    $(document).ready(function () {
        var jsonData = '@Html.Raw(Model)';
        initViewModel(jsonData);
    });
    </script>