.chart__filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.chart__group {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: .2rem;
}

.chart__group span {
	margin-right: .2rem;
}

.chart__filter input,
.chart__filter select {
	border: 1px solid #999;
	font-size: 1rem;
	line-height: 1.1rem;
	padding: .2rem .4rem;
}

.chart__filter a {
	margin-right: .5rem;
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 1199.98px) {
	.chart__filter {
		flex-direction: column;
		align-items: flex-start;
	}

	.chart__group {
		margin-bottom: 1rem;
		width: 15rem;
	}

	.chart__group span {
		width: 25%;
	}

	.chart__filter input,
	.chart__filter select {
		width: 75%;
	}

	.chart__group .chart__display {
		width: 100%;
	}

	.chart__filter a {
		margin: 0 auto;
	}
}