﻿@inject Core.ExchangeConfig Config
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <link rel="icon" type="image/ico" href="~/img/favicon.png" />
    <link rel="shortcut icon" href="~/img/favicon.png" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/identity.css" />
    @if (Config.RecaptchaEnabled)
    {
        <script src='https://www.google.com/recaptcha/api.js'></script>
    }
    <script>
        function captchaSubmitForm() {
            document.forms[0].submit();
        }
    </script>
</head>
<body>
    <!-- Start .header -->
    <header class="header container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bgcolor-grey--light">
            <div class="navbar__container d-flex">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="padding-left:20px">
                    <img src="~/img/logo.png" alt="logo">
                </a>
            </div>
        </nav>
    </header>
    <!-- End /.header -->
    <!-- Start .content -->
    <main class="content container-fluid bgcolor-white--dark login-container">
        @RenderBody()
    </main>
    <!-- End /.content -->
    <!-- Start .footer -->
    <footer class="footer bgcolor-grey--dark">
        <div class="footer__links">
            <ul class="footer__menu">
                <li>
                    <a href="/agreement" class="footer__link">Agreement</a>
                </li>
                <li>
                    <a href="/fees" class="footer__link">Fees</a>
                </li>
                <li>
                    <a href="/contact" class="footer__link">Contact</a>
                </li>
                <li>
                    <a href="/apply-listing" class="footer__link">Apply Listing</a>
                </li>
            </ul>
            <div class="footer__soc">
                <a href="https://twitter.com/SwapperTech" target="_blank">
                    <i class="im im-twitter"></i>
                </a>
                <!--
                <a href="#">
                    <i class="im im-facebook"></i>
                </a>
                <a href="#">
                    <i class="im im-reddit"></i>
                </a>
                <a href="#">
                    <i class="im im-instagram"></i>
                </a>
                <a href="#">
                    <i class="im im-skype"></i>
                </a>
                                -->
            </div>
        </div>
        <hr>
        <div class="footer__copyright">
            <span>
                &copy; 2019 swapper.tech. All rights reserved
            </span>
        </div>
    </footer>
    <!-- End /.footer -->
    <link rel="stylesheet" href="~/css/iconmonstr-iconic-font.min.css" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- My JS -->
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>