/* billed styles */
.billed {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.billed span {
	display: inline-block;
	margin-right: 1rem;
}

.billed label.btn.btn-primary {
	cursor: pointer;
	flex: 0 1 0;
}