﻿@{
    ViewData["Title"] = "Fees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/fees.js" asp-append-version="true"></script>
<main class="wallet content container-fluid">
    <div class="wallet__title">
        <h2>Fees</h2>
    </div>
    <div class="wallet__nav">
        <div class="wallet__balances">
        </div>
        <div class="wallet__search">
            <button type="submit" for="search">
                <i class="im im-magnifier"></i>
            </button>
            <input type="text" placeholder="Search" data-bind="textInput: searchTerm">
        </div>
    </div>
    <div class="wallet__data">
        <div class="wallet__titles">
            <div class="wallet__titles-element">
                <span>
                    Symbol
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Name
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Trading Fee
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Minimum Deposit
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Minimum Withdrawal
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Maximum  Withdrawal
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Deposit Fee
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Withdrawal Fee
                </span>
            </div>
        </div>
        <!--ko foreach: currencies-->
        <div class="wallet__currency">
            <div class="wallet__currency-element">
                <img data-bind="attr: { src: getImage($data),alt:code }" />
                <span>
                    <!--ko text: code--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: name--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: tradingFee--><!--/ko-->%
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: minimumDeposit--><!--/ko--> <!--ko text: code--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: minimumWithdrawal--><!--/ko--> <!--ko text: code--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: maximumWithdrawalDisplay--><!--/ko--> <!--ko if: maximumWithdrawal--><!--ko text: code--><!--/ko--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    Free
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: withdrawalFee--><!--/ko--> <!--ko text: code--><!--/ko-->
                </span>
            </div>
        </div>
        <!--/ko-->
    </div>
</main>
<script>
    $(document).ready(function () {
        var jsonData = '@Html.Raw(ViewBag.JsonData)';
        initViewModel(jsonData);
    });
</script>
