﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    Layout = null;
    var routeParams = new Dictionary<string, string>
    {
        { "returnUrl", Context.Request.Path }
    };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title data-bind="text:title">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/iconmonstr-iconic-font.min.css" rel="stylesheet" />
    <link href="~/css/trade.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/jquery.loadingModal.min.css" />

    <link rel="icon" type="image/ico" href="~/img/favicon.png" />
    <link rel="shortcut icon" href="~/img/favicon.png" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.loadingModal.min.js" asp-append-version="true"></script>
    <script src="~/js/knockout-3.4.2.js" asp-append-version="true"></script>
    <script src="~/js/knockout.mapping-min.js" asp-append-version="true"></script>
    <script src="~/js/knockout.tradeGrid.js" asp-append-version="true"></script>
    <script src="~/js/core.js" asp-append-version="true"></script>
    <script src="~/js/trade.js" asp-append-version="true"></script>
    <script src="~/js/signalr.min.js"></script>
    <script src="~/js/marketOrderSocket.js" asp-append-version="true"></script>
    <script src="~/js/charting_library.min.js"></script>
    <script src="~/js/tradeView.js"></script>
    <script src="~/js/iziToast.js"></script>
    <link href="~/css/iziToast.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Start .header -->
    <header class="header container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bgcolor-grey--light">
            <div class="navbar__container d-flex">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="padding-left:20px">
                    <img src="~/img/logo.png" alt="logo">
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="navbar__currency">
                    <h1><!--ko text: $root.from--><!--/ko-->/<!--ko text: $root.to--><!--/ko--></h1>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenu"
                    aria-controls="navbarmenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarmenu" data-bind="with:menu">
                <div class="navbar__data d-flex">
                    <div class="navbar__element">
                        <h4>Last Price</h4>
                        <p>
                            <span data-bind="text:lastPriceDisplay,css:lastPriceCss"></span>
                            <span data-bind="visible:lastPriceUSD" class="color-blue">
                                $<!--ko text: lastPriceUSDDisplay--><!--/ko-->
                            </span>
                        </p>
                    </div>
                    <div class="navbar__element">
                        <h4>24h Change</h4>
                        <p>
                            <span data-bind="text:_24hChangeValueDisplay,css:_24hChangeCss"></span>
                            <span data-bind="undefinedVisible:_24hChangePercent,css:_24hChangeCss">
                                <!--ko text: _24hChangePercentDisplay--><!--/ko-->%
                            </span>
                        </p>
                    </div>
                    <div class="navbar__element">
                        <h4>24h High</h4>
                        <p>
                            <span data-bind="text:_24hHighDisplay"></span>
                        </p>
                    </div>
                    <div class="navbar__element">
                        <h4>24h Low</h4>
                        <p>
                            <span data-bind="text:_24hLowDisplay"></span>
                        </p>
                    </div>
                    <div class="navbar__element">
                        <h4>24h Volume</h4>
                        <p>
                            <span data-bind="text:_24hVolumeDisplay"></span>
                            <!--ko if: _24hVolume--><!--ko text: $root.from--><!--/ko--><!--/ko-->
                        </p>
                    </div>
                </div>
                <div class="navbar__authorization">
                    <div class="navbar__markets">
                        <a href="/markets">Markets</a>&nbsp;&nbsp;
                    </div>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                        <span>|</span>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn logoutBtn">Logout</button>
                        </form>
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Register" asp-all-route-data="routeParams">Register</a>
                        <span>|</span>
                        <a asp-area="Identity" asp-page="/Account/Login" asp-all-route-data="routeParams">Login</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <!-- End /.header -->
    <!-- Start .content -->
    <main class="content container-fluid">
        <!-- Start .information -->
        <section class="information">
            <!-- Start .chart -->
            <div class="chart">
                <div id="tv_chart_container"></div>
            </div>
            <!-- End /.chart -->
            <!-- Start .orders -->
            <div class="orders">
                <div class="orders__tabs">
                    <ul>
                        <li class="orders__tab active" data-target="pending">My Pending Orders</li>
                        <li class="orders__tab" data-target="history">My History Orders</li>
                    </ul>
                </div>
                <!-- ko with: myOrders -->
                <div class="orders__container show" id="pending">
                    <div data-bind="grid: myPendingOrdersGrid"></div>
                </div>
                <div class="orders__container" id="history">
                    <div data-bind="grid: myHistoryOrdersGrid"></div>
                </div>
                <!-- /ko -->

            </div>
            <!-- End /.orders -->
        </section>
        <!-- End /.information -->
        <!-- Start .data -->
        <section class="data">
            <div class="data__top row">
                <div class="data__left bgcolor-grey--light col-6">
                    <div class="data__title row">
                        <div class="col-4">
                            <h4>Price <!--ko text: $root.from--><!--/ko--></h4>
                        </div>
                        <div class="col-4">
                            <h4>Quantity <!--ko text: $root.to--><!--/ko--></h4>
                        </div>
                        <div class="col-4">
                            <h4>Total <!--ko text: $root.from--><!--/ko--></h4>
                        </div>
                    </div>
                    <div class="data__container">
                        <div class="data__values sell" data-bind="foreach: sellOrders">
                            <div class="data__value row">
                                <div class="data__value--numbers col-4">
                                    <a href="javascript:void(0)" data-bind="click:$root.selectPrice"><span class="color-red" data-bind="text: price"></span></a>
                                </div>
                                <div class="data__value--numbers col-4" data-bind="text: quantity">
                                    <span></span>
                                </div>
                                <div class="data__value--numbers col-4" data-bind="text: sumVolume">
                                    <span></span>
                                </div>
                            </div>
                        </div>

                        <div class="data__selected bgcolor-grey--dark" data-bind="with:$root.menu">
                            <h5 data-bind="css:lastPriceDiff()>0?'color-green':(lastPriceDiff()<0?'color-red':'')">
                                <!--ko text: lastPriceDisplay--><!--/ko-->
                                <!--ko if: lastPriceDiff-->
                                <i data-bind="css:lastPriceDiff()>0?'im im-arrow-up':'im im-arrow-down'"></i>
                                <!--/ko-->
                                <span data-bind="visible:lastPriceUSDDisplay" class="color-blue">$<!--ko text: lastPriceUSDDisplay--><!--/ko--></span>
                            </h5>
                        </div>
                        <div class="data__values" data-bind="foreach: buyOrders">
                            <div class="data__value row">
                                <div class="data__value--numbers col-4">
                                    <a href="javascript:void(0)" data-bind="click:$root.selectPrice"><span class="color-green" data-bind="text: price"></span></a>
                                </div>
                                <div class="data__value--numbers col-4">
                                    <span data-bind="text: quantity"></span>
                                </div>
                                <div class="data__value--numbers col-4">
                                    <span data-bind="text: sumVolume"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="data__right bgcolor-blue--dark col-6">
                    <div class="data__title color-blue--light row">
                        <div class="col-4">
                            <h4 class="color-blue--light">Time</h4>
                        </div>
                        <div class="col-4">
                            <h4 class="color-blue--light">Price <!--ko text: $root.from--><!--/ko--></h4>
                        </div>
                        <div class="col-4">
                            <h4 class="color-blue--light">Quantity <!--ko text: $root.to--><!--/ko--></h4>
                        </div>
                    </div>
                    <div class="data__values" data-bind="foreach: historyOrders">
                        <div class="data__value row">
                            <div class="data__value--numbers col-4">
                                <span data-bind="text: dateAndTime().time,attr: { title: dateAndTime().date }"></span>
                            </div>
                            <div class="data__value--numbers col-4">
                                <a href="javascript:void(0)" data-bind="click:$root.selectPrice"><span data-bind="text: price,css:type()=='Sell'?'color-red':'color-green'"></span></a>
                            </div>
                            <div class="data__value--numbers col-4">
                                <span data-bind="text: quantity"></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="data__bottom bgcolor-grey--light row">
                <div class="data__left bgcolor-grey--light col-sm-6" data-bind="with:initiateBuy">
                    <div class="data__buy--title">
                        <h3>Buy <!--ko text: $root.to--><!--/ko--></h3>
                        <p>
                            <a href="javascript:void(0)" class="color-blue" data-bind="text:$root.balanceFromDisplay,click:$data.selectBalance"></a> <!--ko text: $root.from--><!--/ko-->
                        </p>
                    </div>
                    <form id="buyForm" class="data__form was-validated" novalidate="">
                        <div class="form-group">
                            <label for="buyPrice">Price:</label>
                            <input class="form-control" data-bind="value:price, event:{ 'change': changePrice }" type="text" data-val="true" data-val-number="The field Price must be a number." data-val-required="The Price field is required." id="buyPrice" name="buyPrice" value="" aria-describedby="buyPrice-error" aria-invalid="false">
                            <span class="text-danger" data-valmsg-for="buyPrice" data-valmsg-replace="true"></span>
                            <div class="form__text"><!--ko text: $root.from--><!--/ko--></div>
                        </div>
                        <div class="form-group">
                            <label for="buyQuantity">Quantity:</label>
                            <input id="buyQuantity" class="form-control valid" data-bind="value:quantity, event:{ 'change': changeQuantity }" type="text" data-val="true" data-val-number="The field Quantity must be a number." data-val-required="The Quantity field is required." name="buyQuantity" value="" aria-describedby="quantity-error" aria-invalid="false">
                            <span class="text-danger field-validation-valid" data-valmsg-for="buyQuantity" data-valmsg-replace="true"></span>
                            <div class="form__text"><!--ko text: $root.to--><!--/ko--></div>
                        </div>
                        <div class="form-group">
                            <label for="buyTotal">Total:</label>
                            <input id="buyTotal" class="form-control valid" data-bind="value:total, event:{ 'change': changeTotal }" type="text" data-val="true" data-val-number="The field Total must be a number." data-val-range="Value must be greater than equal to 0.001" data-val-range-max="2147483647" data-val-range-min="0.001" data-val-required="The Total field is required." name="buyTotal" value="" aria-describedby="total-error" aria-invalid="false">
                            <span class="text-danger field-validation-valid" data-valmsg-for="buyTotal" data-valmsg-replace="true"></span>
                            <div class="form__text"><!--ko text: $root.from--><!--/ko--></div>
                        </div>
                        <p class="form__fee">
                            Fee (<!--ko text: $root.fee--><!--/ko-->%):&nbsp;
                            <!--ko if: fee-->
                                <span style="color:white">
                                    <!--ko text: fee--><!--/ko-->&nbsp;
                                    <!--ko text: $root.from--><!--/ko-->
                                </span>
                            <!--/ko-->
                        </p>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <input type="button" class="form__button--green" value="Buy" data-bind="click:buy">
                        }
                    </form>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                    <div class="data__authorization text-center">
                        <a asp-area="Identity" class="color-blue" asp-page="/Account/Register" asp-all-route-data="routeParams">Register</a>
                        <span>|</span>
                        <a asp-area="Identity" class="color-blue" asp-page="/Account/Login" asp-all-route-data="routeParams">Login</a>
                    </div>
                    }
                    </div>
                <div class="data__right bgcolor-grey--light col-sm-6" data-bind="with:initiateSell">
                    <div class="data__sell--title">
                        <h3>Sell <!--ko text: $root.to--><!--/ko--></h3>
                        <p><a href="javascript:void(0)" class="color-blue" data-bind="text:$root.balanceToDisplay,click:$data.selectBalance"></a> <!--ko text: $root.to--><!--/ko--></p>
                    </div>
                    <form id="sellForm" class="data__form was-validated" novalidate="">
                        <div class="form-group">
                            <label for="sellPrice">Price:</label>
                            <input class="form-control" data-bind="value:price, event:{ 'change': changePrice }" type="text" data-val="true" data-val-number="The field Price must be a number." data-val-required="The Price field is required." id="sellPrice" name="sellPrice" value="" aria-describedby="sellPrice-error" aria-invalid="false">
                            <span class="text-danger" data-valmsg-for="sellPrice" data-valmsg-replace="true"></span>
                            <div class="form__text"><!--ko text: $root.from--><!--/ko--></div>
                        </div>
                        <div class="form-group">
                            <label for="sellQuantity">Quantity:</label>
                            <input id="sellQuantity" class="form-control valid" data-bind="value:quantity, event:{ 'change': changeQuantity }" type="text" data-val="true" data-val-number="The field Quantity must be a number." data-val-required="The Quantity field is required." name="sellQuantity" value="" aria-describedby="quantity-error" aria-invalid="false">
                            <span class="text-danger field-validation-valid" data-valmsg-for="sellQuantity" data-valmsg-replace="true"></span>
                            <div class="form__text"><!--ko text: $root.to--><!--/ko--></div>
                        </div>
                        <div class="form-group">
                            <label for="sellTotal">Total:</label>
                            <input id="sellTotal" class="form-control valid" data-bind="value:total, event:{ 'change': changeTotal }" type="text" data-val="true" data-val-number="The field Total must be a number." data-val-range="Value must be greater than equal to 0.001" data-val-range-max="2147483647" data-val-range-min="0.001" data-val-required="The Total field is required." name="buyTotal" value="" aria-describedby="total-error" aria-invalid="false">
                            <span class="text-danger field-validation-valid" data-valmsg-for="buyTotal" data-valmsg-replace="true"></span>
                            <div class="form__text"><!--ko text: $root.from--><!--/ko--></div>
                        </div>
                        <p class="form__fee">
                            Fee (<!--ko text: $root.fee--><!--/ko-->%):&nbsp;
                            <!--ko if: fee-->
                            <span style="color:white">
                                <!--ko text: fee--><!--/ko-->&nbsp;
                                <!--ko text: $root.from--><!--/ko-->
                            </span>
                            <!--/ko-->
                        </p>
                        <button type="submit" class="form__button--red hide">Sell</button>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <input type="button" class="form__button--red" value="Sell" data-bind="click:sell" />
                        }
                    </form>
                    @if (!SignInManager.IsSignedIn(User))
                    {
                    <div class="data__authorization text-center">
                        <a asp-area="Identity" class="color-blue" asp-page="/Account/Register" asp-all-route-data="routeParams">Register</a>
                        <span>|</span>
                        <a asp-area="Identity" class="color-blue" asp-page="/Account/Login" asp-all-route-data="routeParams">Login</a>
                    </div>
                    }
                </div>
            </div>
        </section>
        <!-- End /.data -->
    </main>
    <!-- End /.content -->
    <script src="~/js/bootstrap.min.js"></script>
    <script>
        var nrOfDecimals;
    $(document).ready(function () {
        var jsonData = '@Html.Raw(ViewBag.JsonData)';
        nrOfDecimals = parseInt('@ViewBag.NrOfDecimals');
        var nrOfDecimalsToUSD = parseInt('@ViewBag.NrOfDecimalsToUSD');

        var data = JSON.parse(jsonData);
        initViewModel(data, nrOfDecimals, nrOfDecimalsToUSD);

        initTradingView(data.from, data.to, nrOfDecimals);
    });
    </script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>