/* settings styles */
.settings {
	margin-bottom: 2rem;
}

.settings__list {
	border: 1px solid #000;
	border-bottom: 0;
}

.settings__row {
	border-bottom: 1px solid #000;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.settings__row p {
	display: block;
	margin: 0;
	padding: .3rem .6rem;
	width: 50%;
}

.settings__row p:nth-child(odd) {
	border-right: 1px solid #000;
}