﻿@model ContactModel
@using WebUI.Helpers
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
@if (ViewData["Message"] == null)
{
    <section class="signup">
        <div class="signup__title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <h3>
            Got a question or suggestions?<br />
            Write us and our team will contact you within 2 working days.
        </h3>
        <hr class="signup__hr">
        <form class="signup__form" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="signup__form-group">
                <label asp-for="Subject"></label>
                <input asp-for="Subject" />
            </div>
            <div class="signup__form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" />
            </div>
            <div class="signup__form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
            </div>
            <div class="signup__form-group">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" style="height:120px;font-size: 1.5rem;"></textarea>
            </div>
            @Html.GoogleInvisibleReCaptcha("Send")
        </form>
    </section>
}
else
{
    <section class="confirm">
        <p>
            @ViewData["Message"]
        </p>
    </section>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}