/* Reset CSS */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-weight: 700;
}

button:focus,
a:focus {
  outline: none;
}

/* wrapper styles */
.wrapper {
  background-color: #333;
  min-height: 100vh;
}

/* dcomments white theme styles */
.dcomments.white {
  background-color: #fff;
  color: #333;
}

.dcomments.white .dcomments__avatar {
  background-color: #333;
}

.dcomments.white .dcomments__editable {
  background-color: #ddd;
}

.dcomments.white .dcomments__dropdown select {
  background-color: #ddd;
}

/* dcomments styles */
.dcomments {
  background-color: #333;
  color: #fff;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  max-width: 70rem;
}

.dcomments__header {
  border-bottom: 1px solid #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2.5rem;
}

.dcomments__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.dcomments__quantity:before {
  content: "";
  background-color: #2e9fff;
  position: absolute;
  bottom: -1px;
  height: 1px;
  width: 100%;
}

.dcomments__quantity h2 {
  font-size: 1.2rem;
}

.dcomments__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dcomments__profile h3 {
  font-size: 1.2rem;
}

.dcomments__dot {
  color: #999;
  font-size: 1.5rem;
  line-height: 10px;
  margin: 0 .5rem;
}

.dcomments__profile button {
  background-color: #2e9fff;
  border: 0;
  border-radius: .5rem;
  color: #fff;
  padding: .3rem .8rem;
}

.dcomments__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: .5rem 0rem;
}

.dcomments__avatar {
  border-radius: .2rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: .5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.dcomments__avatar img {
  height: 2.5rem;
  width: 2.5rem;
}

.dcomments__recommends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3rem;
}

.dcomments__stars i {
  color: #999;
}

.dcomments__stars i.fill {
  color: #ff4500;
}

.dcomments__dropdown h2 {
  display: inline-block;
  font-size: 1rem;
}

.dcomments__dropdown select {
  background-color: #fff;
  border: none;
  border-radius: .2rem;
  color: #222;
  padding: .2rem .4rem;
}

.dcomments__send-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.dcomments__error {
  color: #f00;
  font-size: .8rem;
  padding: .2rem 0;
  width: 100%;
}

.dcomments__editable {
  background: #fff;
  border: 2px solid #777;
  border-radius: .5rem;
  color: #000;
  margin-bottom: .5rem;
  overflow: hidden;
  padding: .3rem .6rem;
  min-height: 2.5rem;
  height: auto;
  width: 100%;
}

.dcomments__editable:focus {
  -webkit-box-shadow: 0 0 0 1px #2e9fff;
          box-shadow: 0 0 0 1px #2e9fff;
  outline: 0;
}

.dcomments__send-group button {
  background-color: #2e9fff;
  border: none;
  border-radius: .5rem;
  color: #fff;
  padding: .3rem 0;
  width: 10rem;
}

.dcomments__new,
.dcomments__more {
  margin: .5rem 0 .5rem 0rem;
}

.dcomments__new button {
  background-color: #0c66b4;
  border: none;
  border-radius: .2rem;
  color: #fff;
  font-size: .8rem;
  padding: .25rem 0;
  width: 100%;
}

.dcomments__more button {
  background-color: #2e9fff;
  border: none;
  border-radius: .2rem;
  color: #fff;
  font-size: 1.1rem;
  padding: .25rem 0;
  width: 100%;
}

.dcomments__content {
  padding: .5rem 0rem;
}

.dcomments__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.dcomments__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.5rem;
}

.dcomments__element .dcomments__send {
  margin-left: 3rem;
  padding: 0;
}

.dcomments__children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
}

.dcomments__children .dcomments__send {
  margin-left: 2rem;
  padding: 0;
}

.dcomments__children .dcomments__children {
  margin-left: 2rem;
}

.dcomments__children .dcomments__avatar {
  height: 2rem;
  width: 2rem;
}

.dcomments__children .dcomments__avatar img {
  height: 2rem;
  width: 2rem;
}

.dcomments__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dcomments__data-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .3rem;
}

.dcomments__data-header h2 {
  color: #0c66b4;
  font-size: 1rem;
  font-weight: 700;
}

.dcomments__data-header h3 {
  color: #999;
  font-size: .8rem;
}

.dcomments__data-content {
  margin-bottom: .3rem;
}

.dcomments__data-content p {
  font-size: 1rem;
}

.dcomments__data-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dcomments__data-nav button {
  background-color: transparent;
  border: none;
  color: #999;
  padding: 0;
  height: 1rem;
  width: 1rem;
}

.dcomments__data-nav button i {
  font-size: .9rem;
}

.dcomments__like,
.dcomments__dislike {
  margin-right: .5rem;
}

.dcomments__like i,
.dcomments__dislike i {
  color: #2e9fff;
}

.dcomments__like.active i,
.dcomments__dislike.active i {
  color: #2e57ff;
}

.dcomments__report i {
  color: #f05f70;
}

.dcomments__report.active i {
  color: #f01770;
}

.dcomments__trash i {
  color: #aaa;
}

.dcomments__trash.active i {
  color: #777;
}

.dcomments__reply i {
  color: #2e9fff;
}

.dcomments__reply.active i {
  color: #2e57ff;
}

.dcomments__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dcomments__footer {
  border-top: 2px solid #777;
  padding: .5rem 0 0;
}

.dcomments__footer a {
  text-decoration: none;
}

.dcomments__footer a,
.dcomments__footer a i {
  color: #2e9fff;
  font-size: 1rem;
}

.dcomments__logo {
  height: 1rem;
}

/* Large desktops and laptops */
@media (min-width: 1600px) and (max-width: 1919px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1440px) and (max-width: 1599px) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 16px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 16px;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  html {
    font-size: 16px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }

  /* dcomments styles */
  .dcomments {
    padding: 0 .5rem .5rem;
  }

  .dcomments__avatar {
    height: 2rem;
    width: 2rem;
  }

  .dcomments__avatar img {
    height: 2rem;
    width: 2rem;
  }

  .dcomments__element .dcomments__send {
    margin-left: 2.5rem;
  }

  .dcomments__children {
    margin-left: 2.5rem;
  }

  .dcomments__children .dcomments__send {
    margin-left: 1.5rem;
  }

  .dcomments__children .dcomments__children {
    margin-left: 1.5rem;
  }

  .dcomments__children .dcomments__avatar {
    height: 1.5rem;
    width: 1.5rem;
  }

  .dcomments__children .dcomments__avatar img {
    height: 1.5rem;
    width: 1.5rem;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  html {
    font-size: 16px;
  }
}