﻿@{
    ViewData["Title"] = "Markets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/markets.js" asp-append-version="true"></script>
<main class="markets content container-fluid">
    <div class="wallet__title">
        <h2>Available Markets</h2>
    </div>
    <div class="markets__nav">
        <div class="markets__tabs">
            <!--ko foreach: baseMarkets-->

            <span style="font-size: 2.4rem;" data-bind="css: { active: $index()===0 },click:$root.changeMarketTo,attr:{ 'data-target': $data }" class="markets__tab">
                <img data-bind="attr: { src: $root.getImage($data) }" /><span style="padding-left:0.3rem;"><!--ko text: $data--><!--/ko--></span>
            </span>
            <!--/ko-->
        </div>
        <!--
        <div class="markets__search">
            <button type="submit" for="search">
                <i class="im im-magnifier"></i>
            </button>
            <input type="text" placeholder="Search" data-bind="textInput: searchTerm">
    </div>
    -->
    </div>
    <div class="markets__data">
        <div class="markets__titles">
            <div class="markets__titles-element">
                <span>
                    Market
                </span>
            </div>
            <div class="markets__titles-element">
                <span>
                    Name
                </span>
            </div>
            <div class="markets__titles-element">
                <span>
                    Last Price
                </span>
            </div>
            <div class="markets__titles-element">
                <span>
                    24h Change
                </span>
            </div>
            <div class="markets__titles-element">
                <span>
                    24h Quantity
                </span>
            </div>
            <div class="markets__titles-element">
                <span>
                    24h Volume
                </span>
            </div>
        </div>
        <!--ko foreach: baseMarkets-->
        <div class="markets__current" data-bind="attr: { id: $data },css: { show: $index()===0 }">
            <!--ko foreach: $root.splittedMarkets-->
            <div class="markets__currency">
                <div class="markets__currency-element">
                    <span>
                        <a data-bind="attr:{ href:'/trade/'+$data.code()}">
                            <!--ko text: from--><!--/ko-->/<!--ko text: to--><!--/ko-->
                        </a>
                    </span>
                </div>

                <div class="markets__currency-element">
                    <span>
                        <img data-bind="attr: { src: $root.getImage($data.to()),alt:$data.to() }" /><span style="padding-left:0.3rem"><!--ko text: currencyName--><!--/ko--></span>
                    </span>
                </div>

                <div class="markets__currency-element">
                    <span>
                        <!--ko text: lastPriceDisplay--><!--/ko-->
                    </span>

                    <small>
                        <!--ko text: lastPriceUsdDisplay--><!--/ko-->
                    </small>
                </div>

                <div class="markets__currency-element">
                    <span class="color-red">
                        <!--ko text: _24hChangePercentDisplay--><!--/ko--><!--ko if: _24hChangePercent-->%<!--/ko-->
                    </span>
                </div>

                <div class="markets__currency-element">
                    <span>
                        <!--ko text: _24hQuantityDisplay--><!--/ko--> <!--ko if: _24hQuantity--><!--ko text: to--><!--/ko--><!--/ko-->
                    </span>
                </div>

                <div class="markets__currency-element">
                    <span>
                        <!--ko text: _24hVolumeDisplay--><!--/ko--> <!--ko if: _24hVolume--><!--ko text: from--><!--/ko--><!--/ko-->
                    </span>
                </div>
            </div>
            <!--/ko-->
        </div>
        <!--/ko-->
    </div>
</main>
<script>
    $(document).ready(function () {
        var jsonData = '@Html.Raw(ViewBag.JsonData)';
        var nrOfDecimals = parseInt('@Html.Raw(ViewBag.NrOfDecimals)');
        initViewModel(jsonData, nrOfDecimals);
    });
</script>
<style>
    .markets__currency-element:first-child img {
        margin-right: 0rem !important;
    }
    .markets__currency-element a {
        color: #69c !important;
    }
</style>