html {
  font-size: 10px;
}
body {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, p, a {
  margin: 0;
}
h4 {
  color: #999999;
}
p {
  font-size: 1.5rem;
}
a {
  color: #ffffff;
}
a:hover,
a:focus {
  color: #69c;
  text-decoration: none;
}

.show {
  display: block;
}
.hide {
  display: none;
}

/* colors */
.color-yellow {
  color: #f59d28;
}
.color-green--light {
  color: #70a800;
}
.color-green {
  color: #0daa6e;
}
.color-red {
  color: #f14141;
}
.color-blue--light {
  color: #4c7aa9;
}

/* bg colors */
.bgcolor-blue--dark {
  background-color: #252b38;
}
.bgcolor-grey--light {
  background-color: #262d33;
}
.bgcolor-grey--dark {
  background-color: #20262b;
}
.bgcolor-white--dark {
  background-color: #f1f1f1;
}

/* bootstrap style */
.container-fluid,
.row, .col-xl, .col-sm-6, .col-6 {
  margin: 0;
  padding: 0;
}

/*-----Trade page style-----*/
/* Trade header style */
.header {
  border-bottom: 6px solid #000;
  height: calc(6rem + 6px);
}

.navbar {
  padding: 0;
  height: 100%;
  z-index: 9;
}

.navbar-toggler {
  margin-right: 3rem;
}

.navbar-brand,
.navbar__markets,
.navbar__currency,
.navbar__authorization {
  height: 6rem;
}

.navbar__markets,
.navbar__currency,
.navbar__authorization {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand img {
  height: 100%;
}

.navbar__markets {
  border-left: 2px solid #000;
  border-right: 1px solid #000;
  font-size: 3rem;
  padding: 0 2rem;
}

.navbar__currency {
  border-left: 1px solid #000;
  border-right: 2px solid #000;
  font-size: 3rem;
  padding: 0 2rem;
}

.navbar__data {
  padding-left: 15rem;
}

.navbar__element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar__element:not(:last-child) {
  padding-right: 3rem;
}

.navbar__authorization {
  border-left: 2px solid #000;
  font-size: 2rem;
  padding: 0 2rem;
}
.navbar__authorization span {
  padding: 0 2rem;
}

/* Content style */
.content {
  border-left: 6px solid #000;
  border-right: 6px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: calc(100vh - 6rem - 6px);
}

/* Trade information style */
.information {
  background-color: #252b38;
  border-bottom: 6px solid #000;
  border-right: 6px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

/* Trade chart style */
.chart {
  background-color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
}

.chart h2 {
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 5rem;
}

/* Trade orders style */
.orders {
  border-top: 6px solid #000;
}

.orders .col-2,
.orders .col-4 {
  padding: 0 1rem;
}

.orders__tabs {
  background-color: #303642;
  height: 5rem;
}

.orders__tabs ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.orders__tabs ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0rem 2rem;
  height: 100%;
}

.orders__tabs .active {
  background-color: #252b38;
}

.orders__container {
  background-color: #252b38;
  display: none;
}

.orders__container.show {
  display: block;
}

.orders__titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 2rem 0;
}

.orders__title {
  color: #7685a9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.orders__title:first-child,
.orders__data--section:first-child {
  margin-left: 1rem;
}

.orders__title:last-child,
.orders__data--section:last-child {
  margin-right: 1rem;
}

.orders__title h3 {
  font-size: 1.6rem;
  padding-right: 1rem;
}

.orders__title i {
  font-size: 1.2rem;
}

.orders__data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.5rem;
  height: 4rem;
}

.orders__data:nth-child(even) {
  background-color: #2e3340;
}

#pending .orders__title:first-child,
#pending .orders__data--section:first-child,
#history .orders__title:first-child,
#history .orders__data--section:first-child {
  width: 20%;
}

#pending .orders__title,
#pending .orders__data--section {
  width: calc(80% / 5);
}

#history .orders__title,
#history .orders__data--section {
  width: calc(80% / 4);
}

.orders__data button {
  border: 0;
  background-color: #ccc;
  cursor: pointer;
}

/* Trade data style */
.data {
  border-bottom: 6px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 40%;
}

.data__top {
  border-bottom: 6px solid #000;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: calc(30vh - 3.5rem - 6px);
  height: 60vh;
}

.data__left,
.data__right {
  height: 100%;
}

.data__left {
  border-right: 1px solid #000;
}

.data__right {
  border-left: 1px solid #000;
}

.data__title>div:not(:first-child),
.data__value>div:not(:first-child) {
  text-align: right;
}

.data__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3rem;
}

.data__title .col-4 {
  margin: 0;
  padding: 0;
}

.data__title h4 {
  padding: .5rem 1rem;
}

.data__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: calc(100% - 3rem);
}

.data__values {
  overflow-y: hidden;
  height: calc(100% - 3rem);
}

.data__value {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.data__values.sell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.data__value--numbers {
  font-size: 1.5rem;
  padding: 0rem 1rem;
}

.data__selected h5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3rem;
}

.data__selected i {
  font-size: 1.8rem;
}

.data__selected span {
  font-size: 2rem;
  padding-left: 2rem; 
}

.data__bottom {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.data__bottom .data__left,
.data__bottom .data__right {
  padding-bottom: 1rem;
  height: auto;
}

.data__buy--title,
.data__sell--title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 3rem;
}

.data__buy--title h3 {
  font-size: 2rem;
  font-weight: bold;
}

.data__buy--title p {
  font-size: 1.5rem;
}

.data__buy--title p br,
.data__sell--title p br {
  display: none;
}

.data__form {
  padding: 0rem 1rem;
}

.form-group {
  position: relative;
  padding: 0rem 2rem;
}

.form-group label {
  color: #ccc;
  font-size: 1.5rem;
  width: 20%;
}

.form-group input {
  background-color: #2f383f!important;
  border: 1px solid #404b55!important;
  color: #fff!important;
  display: inline-block!important;
  font-size: 1.5rem!important;
  padding: .5rem 1rem!important;
  height: 3.5rem!important;
  width: calc(80% - .5rem)!important;
}

.form-group .invalid-feedback {
  font-size: 1.5rem;
  margin: 0 0 0 auto;
  height: 2rem;
  width: 80%;
}

.form__text {
  color: rgba(255,255,255,.3);
  position: absolute;
  font-size: 1.5rem;
  top: .575rem;
  right: 5rem;
}

.form__fee {
  color: #4c7aa9;
  padding: 1rem 2rem;
}

.form__fee span {
  color: #fff;
}

.form__button--green,
.form__button--red {
  border: none;
  color: #fff;
  font-size: 1.8rem;
  padding: .5rem 0rem;
  width: 100%;
}

.form__button--green {
  background-color: #0daa6e;
}

.form__button--red {
  background-color: #f14141;
}

.data__authorization a {
  font-size: 2rem;
}

.data__authorization span {
  font-size: 2rem;
  padding: 0 2rem;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
  html {
    font-size: 9px;
  }
}
@media (min-width: 1200px) and (max-width: 1439.98px){
  html {
    font-size: 7px;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 6px;
  }

  /* Trade data style */
  .data__buy--title p br,
  .data__sell--title p br {
    display: block;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 6px;
  }

  /* Trade header style */
  .navbar__data {
    margin-top: 2rem;
    padding-left: 3rem;
  }

  .navbar__data,
  .navbar__authorization {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* Trade content style */
  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: auto;
  }

  /* Trade information style */
  .information {
    border-right: 0;
    height: 100%;
    width: 100%;
  }

  .chart {
    min-height: 208px;
  }

  .orders {
    border: 6px solid #000;
    position: absolute;
    left: -6px;
    right: -6px;
  }

  /* Trade data style */
  .data {
    height: 100%;
    width: 100%;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 6px;
  }

  /* Trade header style */
  .navbar__data {
    margin-top: 2rem;
    padding-left: 3rem;
  }

  .navbar__data,
  .navbar__authorization {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* Trade content style */
  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: auto;
  }

  /* Trade information style */
  .information {
    border-right: 0;
    height: 100%;
    width: 100%;
  }

  .chart {
    min-height: 208px;
  }

  .orders {
    border: 6px solid #000;
    position: absolute;
    left: -6px;
    right: -6px;
  }

  /* Trade data style */
  .data {
    height: 100%;
    width: 100%;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  html {
    font-size: 5px;
  }

  /* Trade header style */
  .navbar__data {
    margin-top: 2rem;
    padding-left: 0rem;
  }

  .navbar__data,
  .navbar__authorization {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  /* Trade content style */
  .content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    height: auto;
  }

  /* Trade information style */
  .information {
    border-right: 0;
    height: 100%;
    width: 100%;
  }

  .chart {
    min-height: 208px;
  }

  .orders {
    border: 6px solid #000;
    position: absolute;
    left: -6px;
    right: -6px;
  }

  .orders__sort {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .orders__title,
  .orders__data--section {
    padding: 0 1rem;
  }

  /* Trade data style */
  .data {
    height: 100%;
    width: 100%;
  }

  .data__top {
    max-height: 50vh;
  }

  .data__left {
    border-right: 0;
    border-bottom: 1px solid #000;
  }

  .data__title h4 {
    padding: .5rem;
  }

  .data__value--numbers {
    padding: 0rem .5rem;
  }
}

/*-----Wallet page style-----*/
/* Wallet header style */
.navbar-nav {
  border-left: 2px solid #000;
  margin-right: 2rem;
}

.nav-item {
  padding: 0 1rem;
}

.nav-item:hover .nav-link,
.nav-item:focus .nav-link {
  color: #69c!important;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-link, .dropdown-item {
  color: #fff!important;
  font-size: 2rem;
  padding: .5rem 1.5rem;
}

.dropdown-menu {
  border: 0;
  margin: 0;
  padding: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #32506f;
}

/* Wallet content style */
/* tooltip */
.tooltip-inner {
  font-size: 2rem;
}
.tooltip .arrow {
  height: 1.4rem;
  width: 2.8rem;
}

.bs-tooltip-auto[x-placement^=bottom],
.bs-tooltip-bottom {
  padding: 1.4rem 0;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-width: 0 1.4rem 1.4rem;
}

/* content */
.wallet.content {
  border-bottom: 6px solid #000;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 4rem;
  min-height: calc(100vh - 6rem - 6px - 14rem);
  height: 100%;
}

/* title */
.wallet__title h2 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.wallet__title p {
  font-size: 2rem;
  letter-spacing: .2rem;
  margin-bottom: 3rem;
}

/* nav */
.wallet__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.wallet__balances {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wallet__balances--link {
  font-size: 2rem;
}

.wallet__balances--info {
  cursor: pointer;
  margin-left: 2rem;
}

.wallet__balances--info.im {
  font-size: 2rem;
}

.wallet__search {
  position: relative;
}

.wallet__search button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
  position: absolute;
  right: 0;
  height: 100%;
}

.wallet__search button i {
  color: #000;
  font-size: 2rem;
}

.wallet__search input {
  border: 1px solid #ccc;
  -webkit-box-shadow: .8rem .8rem 1rem #ddd;
  box-shadow: .8rem .8rem 1rem #ddd;
  font-size: 2rem;
  padding: 0 4rem 0 1rem;
  height: 3.5rem;
}

/* data */
.wallet__data {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 1rem .2rem #ddd;
  box-shadow: 0 0 1rem .2rem #ddd;
  border-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.wallet__titles {
  background-color: #ddd;
  border-bottom: 1px solid #ccc;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1rem;
}

.wallet__titles-element span {
  font-size: 2.3rem;
  font-weight: 700;
}

.wallet__titles-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% /6);
}

.wallet__titles-element:first-child,
.wallet__currency-element:first-child {
  width: 10%;
}

.wallet__titles-element:last-child,
.wallet__currency-element:last-child {
  width: 15%;
}

.wallet__currency {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1rem;
}

.wallet__currency:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .05);
}

.wallet__currency-element span {
  font-size: 2rem;
}

.wallet__currency-element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: calc(100% /6);
}

.wallet__currency-element:first-child img {
  margin-right: 1rem;
  height: 1.6rem;
  width: 1.6rem;
}

.wallet__currency-element.links a {
  font-size: 2rem;
  padding: 0 1rem;
}

/* modal window style */
.modal-dialog {
  max-width: 535px;
}

.modal-header {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal-header h5 {
  font-size: 2.5rem;
}

.modal-header .close {
  font-size: 3rem;
}

.modal-body h4 {
  font-size: 1.6rem;
  padding: 2rem 2rem 0;
}

.modal-body h4 i {
  font-size: 1.5rem;
}

.modal-body h4 span {
  font-size: 2rem;
}

.modal-body p {
  font-size: 1.5rem;
  padding: 0 2rem 2rem;
}

.color-warning {
  background-color: #fff7de;
}

.modal-body h3 {
  font-size: 3rem;
  padding: 0 2rem;
}

.modal-body hr {
  border-top: 1px solid #ccc;
}

.modal-address {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 0 2rem;
}

.modal-address span {
  background-color: #ddd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  padding: 0 2rem;
  height: 5rem;
  width: 100%;
}

.modal-address a {
  color: #333;
  font-size: 1.8rem;
  position: absolute;
  right: 4rem;
}

.modal-footer button {
  font-size: 2rem;
}

.modal-header,
.modal-footer {
  padding: 2rem;
}

.modal-body {
  padding: 0;
}

.modal-form {
  margin-top: 4rem;
  padding: 0 2rem;
}

.modal-form label {
  font-size: 2rem;
}

.modal-form label a {
  color: #4c7aa9;
}

.modal-form input {
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 1rem #ddd;
  box-shadow: 0 0 1rem #ddd;
  font-size: 2rem;
  width: 100%;
  padding: .5rem 1rem;
}

.modal-form input:not(:last-child) {
  margin-bottom: 2rem;
}

.modal-fee {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  text-align: left;
  margin-top: 2rem;
}
.modal-fee-align p {
  padding: 0 2rem;
}

/* Wallet footer style */
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 2rem;
  height: 14rem;
}

.footer__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 2rem 0;
}

.footer__menu li:not(:last-child) {
  padding-right: 2rem;
}

.footer__link {
  font-size: 1.5rem;
}

.footer__soc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__soc a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footer__soc a:not(:first-child) {
  margin-left: 2rem;
}

.footer__soc i {
  font-size: 2rem;
}

.footer hr {
  border-top: 1px solid rgba(255, 255, 255, .5);
  margin: 0;
}

.footer__copyright {
  font-size: 1.5rem;
  padding: 2rem 0;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
  /* Wallet header style */
  .nav-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 6rem;
  }
}
@media (min-width: 1200px) and (max-width: 1439.98px){
  /* Wallet header style */
  .nav-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 6rem;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  
  /* Wallet header style */
  .nav-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 6rem;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  
  /* Wallet header style */
  .navbar-nav,
  .nav-item {
    border-left: 0;
    margin: 0rem;
  }

  .nav-link, .dropdown-item {
    padding-left: 3rem;
  }

  .navbar-nav .nav-link {
    padding-left: 1rem;
  }

  /* content */
  .wallet.content {
    padding: 1rem;
  }

  /* data */
  .wallet__currency-element.links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Wallet header style */
  .navbar-nav,
  .nav-item {
    border-left: 0;
    margin: 0rem;
  }

  .nav-link, .dropdown-item {
    padding-left: 3rem;
  }

  .navbar-nav .nav-link {
    padding-left: 1rem;
  }

  /* content */
  .wallet.content {
    padding: .5rem;
    min-height: calc(100vh - 6rem - 6px - 17rem);
  }

  .wallet__search input {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* data */
  .wallet__data {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .wallet__titles {
    padding: .5rem;
  }

  .wallet__titles-element span {
    font-size: 2rem;
  }

  .wallet__titles-element {
    margin: 0 .5rem 0 0;
    width: calc(100% /6);
  }

  .wallet__titles-element:first-child,
  .wallet__currency-element:first-child {
    width: 12%;
  }

  .wallet__currency {
    padding: .5rem;
  }

  .wallet__currency-element span {
    font-size: 1.7rem;
  }

  .wallet__currency-element {
    width: calc(100% /6);
  }

  .wallet__currency-element:not(:last-child) {
    margin: 0 .5rem 0 0;
  }

  .wallet__currency-element:first-child img {
    margin-right: .5rem;
  }

  .wallet__currency-element.links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wallet__currency-element.links a {
    font-size: 1.8rem;
    padding: 0 1rem;
  }

  /* Wallet footer style */
  .footer {
    padding: 0 1rem;
    height: 17rem;
  }

  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__menu li:not(:last-child) {
    padding-right: 1.5rem;
  }

  .footer__soc {
    margin-bottom: 2rem;
  }

  .footer__copyright {
    text-align: center;
    letter-spacing: 1px;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /* Wallet header style */
  .navbar-nav,
  .nav-item {
    border-left: 0;
    margin: 0rem;
  }

  .nav-link, .dropdown-item {
    padding-left: 3rem;
  }

  .navbar-nav .nav-link {
    padding-left: 1rem;
  }

  /* content */
  .wallet.content {
    padding: .5rem;
    min-height: calc(100vh - 6rem - 6px - 17rem);
  }

  .wallet__search input {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  /* data */
  .wallet__data {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .wallet__titles {
    padding: .5rem;
  }

  .wallet__titles-element span {
    font-size: 1.3rem;
  }

  .wallet__titles-element {
    margin: 0 .5rem 0 0;
    width: calc(100% /6);
  }

  .wallet__titles-element:first-child,
  .wallet__currency-element:first-child {
    width: 12%;
  }

  .wallet__titles-element:last-child,
  .wallet__currency-element:last-child {
    width: 20%;
  }

  .wallet__currency {
    padding: .5rem;
  }

  .wallet__currency-element span {
    font-size: 1.2rem;
  }

  .wallet__currency-element {
    width: calc(100% /6);
  }

  .wallet__currency-element:not(:last-child) {
    margin: 0 .5rem 0 0;
  }

  .wallet__currency-element:first-child img {
    margin-right: .5rem;
  }

  .wallet__currency-element.links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .wallet__currency-element.links a {
    font-size: 1.3rem;
    padding: 0 1rem;
  }

  /* Wallet footer style */
  .footer {
    padding: 0 1rem;
    height: 17rem;
  }

  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__menu li:not(:last-child) {
    padding-right: 1.5rem;
  }

  .footer__soc {
    margin-bottom: 2rem;
  }

  .footer__copyright {
    text-align: center;
    letter-spacing: 1px;
  }
}

/* login, signup and confirm styles */
.login-container,
.signup-container,
.confirm-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: calc(100vh - 6rem - 6px - 14rem);
  height: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .login-container,
  .signup-container,
  .confirm-container {
    padding: 5rem 0;
  }
}

@supports (-ms-accelerator:true) {
  .login-container,
  .signup-container,
  .confirm-container {
    padding: 5rem 0;
  }
}

@supports (-ms-ime-align:auto) {
  .login-container,
  .signup-container,
  .confirm-container {
    padding: 5rem 0;
  }
}

.login,
.signup,
.confirm {
  -webkit-box-shadow: 0 0 1rem rgba(0,0,0,.2);
  box-shadow: 0 0 1rem rgba(0,0,0,.2);
  background-color: #fff;
  color: #333;
  padding: 5rem;
  width: 50rem;
}

.container-confirm {  
  -webkit-box-pack: center;  
  -webkit-justify-content: center;  
  -ms-flex-pack: center;  
  justify-content: center;
}

.confirm {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-top: 10rem;
  width: 90rem;
}

.confirm p {
  font-size: 1.8rem;
  padding: .2rem 0;
}

.confirm p strong {
  font-weight: bold;
}

.login a,
.signup a {
  color: #4c7aa9;
}

.login__title,
.signup__title,
.confirm__title {
  padding-bottom: 2rem;
  text-align: center;
}

.login__title h1,
.signup__title h1,
.confirm__title h1 {
  font-size: 4rem;
}

.login__hr,
.signup__hr {
  border-bottom: 1px solid #ddd;
}

.login__form-group,
.signup__form-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.login__form-group:last-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.login__form-group:not(:last-of-type) label {
  margin-bottom: 1rem;
}

.login__form-group label,
.signup__form-group label {
  font-size: 2rem;
  margin: 0;
}

.login__form-group input,
.signup__form-group input {
  border: 1px solid #ccc;
  border-radius: .5rem;
  font-size: 1.9rem;
  padding: .5rem 1rem;
}

.custom-control {
  padding-left: 3rem;
}
.custom-control-label::before,
.custom-control-label::after {
  left: -3rem;
  top: 50%;
  bottom: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 1.8rem;
  width: 1.8rem;
}

.login__form input[type=submit],
.signup__form input[type=submit],
.login__form button,
.signup__form button {
    background-color: #4c7aa9;
    border: 0;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    padding: .5rem 0;
    width: 100%;
}

.login__form input[type=submit]:hover,
.signup__form input[type=submit]:hover,
.login__form button:hover,
.signup__form button:hover {
    background-color: #69c;
}

.signup__form p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.login__footer,
.signup__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
}

.signup__footer {
  -webkit-box-pack: end!important;
  -webkit-justify-content: flex-end!important;
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
}

.login__footer a,
.login__footer span,
.signup__footer a,
.signup__footer span {
  font-size: 1.5rem;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
  html {
    font-size: 9px;
  }
  /* login, signup and confirm styles */
  .login,
  .signup,
  .confirm {
    width: 55rem;
  }

  .confirm {
    width: 100rem;
  }

  .confirm p {
    font-size: 2rem;
  }

  .login__title h1,
  .signup__title h1,
  .confirm__title h1 {
    font-size: 4.4rem;
  }

  .login__form-group label,
  .signup__form-group label {
    font-size: 2.2rem;
  }

  .login__form-group input,
  .signup__form-group input {
    font-size: 2.1rem;
  }

    .login__form input[type=submit],
    .signup__form input[type=submit],
    .login__form button,
    .signup__form button {
        font-size: 2.2rem;
    }

  .signup__form p {
    font-size: 1.8rem;
  }

  .login__footer a,
  .login__footer span,
  .signup__footer a,
  .signup__footer span {
    font-size: 1.7rem;
  }
}
@media (min-width: 1200px) and (max-width: 1439.98px){
  html {
    font-size: 7px;
  }
  /* login, signup and confirm styles */
  .login,
  .signup,
  .confirm {
    width: 70rem;
  }

  .confirm {
    width: 130rem;
  }

  .confirm p {
    font-size: 2.6rem;
  }

  .login__title h1,
  .signup__title h1,
  .confirm__title h1 {
    font-size: 5.7rem;
  }

  .login__form-group label,
  .signup__form-group label {
    font-size: 2.8rem;
  }

  .login__form-group input,
  .signup__form-group input {
    font-size: 2.7rem;
  }

    .login__form input[type=submit],
    .signup__form input[type=submit],
    .login__form button,
    .signup__form button {
        font-size: 2.8rem;
    }

  .signup__form p {
    font-size: 2.3rem;
  }

  .login__footer a,
  .login__footer span,
  .signup__footer a,
  .signup__footer span {
    font-size: 2.2rem;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  html {
    font-size: 6px;
  }

  /* login, signup and confirm styles */
  .login,
  .signup,
  .confirm {
    width: 80rem;
  }

  .confirm {
    width: 150rem;
  }

  .confirm p {
    font-size: 3rem;
  }

  .login__title h1,
  .signup__title h1,
  .confirm__title h1 {
    font-size: 6.6rem;
  }

  .login__form-group label,
  .signup__form-group label {
    font-size: 3.3rem;
  }

  .login__form-group input,
  .signup__form-group input {
    font-size: 3.2rem;
  }

    .login__form input[type=submit],
    .signup__form input[type=submit],
    .login__form button,
    .signup__form button {
        font-size: 3.3rem;
    }

  .signup__form p {
    font-size: 2.6rem;
  }

  .login__footer a,
  .login__footer span,
  .signup__footer a,
  .signup__footer span {
    font-size: 2.5rem;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Content style */
  .content {
    height: calc(100vh - 6rem - 6px);
  }

  /* login, signup and confirm styles */
  .login-container,
  .signup-container,
  .confirm-container {
    height: 100%;
  }

  .confirm-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .login,
  .signup,
  .confirm {
    width: 80rem;
  }

  .confirm {
    margin: 10rem auto;
    width: 150rem;
  }

  .confirm p {
    font-size: 3rem;
  }

  .login__title h1,
  .signup__title h1,
  .confirm__title h1 {
    font-size: 6.6rem;
  }

  .login__form-group label,
  .signup__form-group label {
    font-size: 3.3rem;
  }

  .login__form-group input,
  .signup__form-group input {
    font-size: 3.2rem;
  }

    .login__form input[type=submit],
    .signup__form input[type=submit],
    .login__form button,
    .signup__form button {
        font-size: 3.3rem;
    }

  .signup__form p {
    font-size: 2.6rem;
  }

  .login__footer a,
  .login__footer span,
  .signup__footer a,
  .signup__footer span {
    font-size: 2.5rem;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Content style */
  .content {
    height: calc(100vh - 6rem - 6px);
  }

  /* login, signup and confirm styles */
  .login-container,
  .signup-container,
  .confirm-container {
    padding: 0 5rem;
    height: 100%;
  }

  .confirm-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .confirm {
    margin: 7rem auto;
    width: 100%;
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  /* Content style */
  .content {
    height: calc(100vh - 6rem - 6px);
  }

  /* login, signup and confirm styles */
  .login-container,
  .signup-container,
  .confirm-container {
    padding: 0 4rem;
    height: 100%;
  }

  .login,
  .signup,
  .confirm {
    width: 100%;
  }

  .confirm {
    margin: 10rem auto;
  }

  .confirm-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .login, .signup, .confirm {
    padding: 2rem 3rem;
  }

  .login__form-group label,
  .signup__form-group label {
    font-size: 2.2rem;
  }

    .login__form input[type=submit],
    .signup__form input[type=submit],
    .login__form button,
    .signup__form button {
        font-size: 2.5rem;
    }

  .signup__form p {
    font-size: 2.5rem;
  }

  .login__footer a,
  .login__footer span,
  .signup__footer a,
  .signup__footer span {
    font-size: 2.5rem;
  }
}

@media (max-width: 479.98px) {
  .signup__form p {
    font-size: 2.3rem;
  }

  .login__footer a,
  .login__footer span,
  .signup__footer a,
  .signup__footer span {
    font-size: 2.3rem;
  }
}

@media (max-width: 374.98px) {
  .signup__form p {
    font-size: 1.9rem;
  }

  .login__footer a,
  .login__footer span,
  .signup__footer a,
  .signup__footer span {
    font-size: 1.9rem;
  }
}

@media (max-width: 767.98px) and (orientation: landscape) {
  .login-container,
  .signup-container {
    height: 100%;
  }
}
.text-danger.field-validation-error {
    font-size: 1.5rem;
}
.text-danger.validation-summary-errors li {
    font-size: 1.5rem;
}