html {
  font-size: 10px;
}
body {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
h1, h2, h3, h4, h5, p, a {
  margin: 0;
}
h4 {
  color: #999999;
}
p {
  font-size: 1.5rem;
}
a {
  color: #ffffff;
}
a:hover,
a:focus {
  color: #69c;
  text-decoration: none;
}

.show {
  display: block;
}
.hide {
  display: none;
}

/* colors */
.color-blue {
  color: #69c;
}
.color-green {
  color: #70a800;
}
.color-red {
  color: #f14141;
}
/* bg colors */
.bgcolor-blue--dark {
  background-color: #262d33;
}
.bgcolor-grey--light {
  background-color: #262d33;
}
.bgcolor-grey--dark {
  background-color: #20262b;
}

/* bootstrap style */
.container-fluid,
.row, .col-xl, .col-sm-6, .col-6 {
  margin: 0;
  padding: 0;
}

/* header style */
.header {
  border-bottom: 6px solid #000;
  height: calc(6rem + 6px);
}

.navbar {
  padding: 0;
  z-index: 9;
}

.navbar-toggler {
  margin-right: 3rem;
}

.navbar-brand,
.navbar__markets,
.navbar__currency,
.navbar__authorization {
  height: 6rem;
}

.navbar__markets,
.navbar__currency,
.navbar__authorization {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-brand img {
  height: 100%;
}

.navbar__markets {
  font-size: 2.5rem;
  padding: 0 2rem;
}

.navbar__currency {
  font-size: 2.5rem;
  padding: 0 2rem;
}

.navbar__data {
  padding-left: 15rem;
}

.navbar__element {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar__element:not(:last-child) {
  padding-right: 3rem;
}

.navbar__authorization {
  font-size: 2rem;
  padding: 0 2rem;
}
.navbar__authorization span {
  padding: 0 2rem;
}

/* content style */
.content {
  border-left: 6px solid #000;
  border-right: 6px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  /*min-height: 700px;*/
  height: calc(100vh - 6rem - 6px);
}

/* information style */
.information {
  background-color: #252b38;
  border-bottom: 6px solid #000;
  border-right: 6px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  width: 60%;
}

/* chart style */
.chart {
  background-color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
}

#tv_chart_container {
  height: 400px;
}

.chart h2 {
  color: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 5rem;
}

/* orders style */
.orders {
  border-top: 6px solid #000;
  min-height: 30.5rem;
  height: 30.5rem;
}

.orders .col-2,
.orders .col-4 {
  padding: 0 1rem;
}

.orders__tabs {
  background-color: #303642;
  height: 5rem;
}

.orders__tabs ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.orders__tabs ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0rem 2rem;
  height: 100%;
}

.orders__tabs .active {
  background-color: #252b38;
}

.orders__container {
  background-color: #252b38;
  display: none;
  height: calc(100% - 5rem);
}

.orders__container>div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.orders__container.show {
  display: block;
}

.orders__titles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 2rem 0;
}

.orders__title {
  color: #999999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
}

.orders__title:first-child,
.orders__data--section:first-child {
  margin-left: 1rem;
}

.orders__title:last-child,
.orders__data--section:last-child {
  margin-right: 1rem;
}

.orders__title h3 {
  font-size: 1.6rem;
  padding-right: 1rem;
}

.orders__sort {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.orders__sort a {
  display: inline-block;
}

.orders__title i {
  font-size: 1.2rem;
}

.orders__data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.7rem;
  height: 4rem;
}

.orders__data:nth-child(even) {
  background-color: #2e3340;
}

#pending .orders__title:first-child,
#pending .orders__data--section:first-child,
#history .orders__title:first-child,
#history .orders__data--section:first-child {
  width: 20%;
}

#pending .orders__title:nth-child(2),
#pending .orders__data--section:nth-child(2) {
  width: 8%;
}

#pending .orders__title:nth-child(3),
#pending .orders__data--section:nth-child(3) {
  width: 12%;
}

#pending .orders__title:last-child,
#pending .orders__data--section:last-child {
  width: 6.4rem;
}

#pending .orders__title,
#pending .orders__data--section {
  width: calc((60% - 6.4rem) / 3);
}

#history .orders__title,
#history .orders__data--section {
  width: calc(80% / 4);
}

.orders__data button {
  border: 0;
  background-color: #ccc;
  cursor: pointer;
  padding: 0;
  width: 6.4rem;
}

/* data style */
.data {
  border-bottom: 6px solid #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: calc(100vh - 6rem - 6px);
  height: 100%;
  width: 40%;
}

.data__top {
  border-bottom: 6px solid #000;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-height: calc(30vh - 3.5rem - 6px);
  height: 60vh;
}

.data__left,
.data__right {
  height: 100%;
}

.data__left {
  border-right: 1px solid #000;
}

.data__right {
  border-left: 1px solid #000;
}

.data__title>div:not(:first-child),
.data__value>div:not(:first-child) {
  text-align: right;
}

.data__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 3rem;
}

.data__title>div:first-child,
.data__value>div:first-child {
  width: 25%;
}

.data__title>div,
.data__value>div {
  width: calc(75% / 2);
}

.data__title .col-4 {
  margin: 0;
  padding: 0;
}

.data__title h4 {
  padding: .5rem;
  white-space: nowrap;
}

.data__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: calc(100% - 3rem);
}

.data__values {
  overflow-y: hidden;
  height: calc(100% - 3rem);
}

.data__value {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.data__values.sell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.data__value--numbers {
  font-size: 1.5rem;
  padding: 0rem .5rem;
}

.data__selected h5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 3rem;
}

.data__selected i {
  font-size: 1.8rem;
}

.data__selected span {
  font-size: 2rem;
  padding-left: 2rem; 
}

.data__bottom {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.data__bottom .data__left,
.data__bottom .data__right {
  padding-bottom: 1rem;
  height: auto;
}

.data__buy--title,
.data__sell--title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 3rem;
}

.data__buy--title h3 {
  font-size: 2rem;
  font-weight: bold;
}
.data__sell--title h3 {
  font-size: 2rem;
  font-weight: bold;
}

.data__buy--title p {
  font-size: 1.5rem;
}

.data__buy--title p br,
.data__sell--title p br {
  display: none;
}

.data__form {
  padding: 0rem 1rem;
}

.form-group {
  position: relative;
  padding: 0rem 2rem;
}

.form-group label {
  color: #ccc;
  font-size: 1.5rem;
  width: 20%;
}

.form-group input {
  background-color: #2f383f!important;
  border: 1px solid #404b55!important;
  color: #fff!important;
  display: inline-block!important;
  font-size: 1.5rem!important;
  padding: .5rem 1rem!important;
  height: 3.5rem!important;
  width: calc(80% - .5rem)!important;
}

.form-group .invalid-feedback {
  font-size: 1.5rem;
  margin: 0 0 0 auto;
  height: 2rem;
  width: 80%;
}

.form__text {
  color: rgba(255,255,255,.3);
  position: absolute;
  font-size: 1.5rem;
  top: .575rem;
  right: 5rem;
}

.form__fee {
  color: #4c7aa9;
  padding: 0rem 2rem 0.5rem 2rem;
}

.form__fee span {
  color: #fff;
}

.form__button--green,
.form__button--red {
  border: none;
  color: #fff;
  font-size: 1.8rem;
  padding: .5rem 0rem;
  width: 100%;
}

.form__button--green {
  background-color: #70a800;
}

.form__button--red {
  background-color: #f14141;
}

.data__authorization a {
  font-size: 2rem;
}

.data__authorization span {
  font-size: 2rem;
  padding: 0 2rem;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1440px) and (max-width: 1919.98px) {
  html {
    font-size: 9px;
  }

  /* information style */
  .orders {
    min-height: 30.55rem;
    height: 30.55rem;
  }
}
/*@media (min-width: 1200px) and (max-width: 1439.98px) {
  html {
    font-size: 8px;
  }

  .orders {
    height: calc(19.1rem * 10 / 8);
  }
  }*/
  @media (min-width: 1200px) and (max-width: 1439.98px){
    html {
      font-size: 7px;
    }

    /* information style */
    .orders {
      min-height: 30.71rem;
      height: 30.71rem;
    }
  }

  /*Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) and (max-width: 1199.98px) {
    html {
      font-size: 6px;
    }

    /* data style */
    .data__buy--title p br,
    .data__sell--title p br {
      display: block;
    }

    /* information style */
    .orders {
      min-height: 30.83rem;
      height: 30.83rem;
    }
  }

  /*Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) and (max-width: 991.98px) {
    html {
      font-size: 6px;
    }

    /* header style */
    .navbar__data {
      margin-top: 2rem;
      padding-left: 3rem;
    }

    .navbar__data,
    .navbar__authorization {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    /* content style */
    .content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      height: auto;
    }

    /* information style */
    .information {
      border-right: 0;
      height: 100%;
      width: 100%;
    }

    .chart {
      min-height: 208px;
    }

    .orders {
      border: 6px solid #000;
      position: absolute;
      left: -6px;
      right: -6px;
      min-height: 31.8rem;
      height: 31.8rem;
    }

    /* data style */
    .data {
      height: 100%;
      width: 100%;
    }

    .data__left,
    .data__right {
      height: auto;
    }
  }

  /*Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) and (max-width: 767.98px) {
    html {
      font-size: 6px;
    }

    /* header style */
    .navbar__data {
      margin-top: 2rem;
      padding-left: 3rem;
    }

    .navbar__data,
    .navbar__authorization {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    /* content style */
    .content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      height: auto;
    }

    /* information style */
    .information {
      border-right: 0;
      height: 100%;
      width: 100%;
    }

    .chart {
      min-height: 208px;
    }

    .orders {
      border: 6px solid #000;
      position: absolute;
      left: -6px;
      right: -6px;
      min-height: 31.8rem;
      height: 31.8rem;
    }

    /* data style */
    .data {
      height: 100%;
      width: 100%;
    }

    .data__left,
    .data__right {
      height: auto;
    }
  }

  /*Extra small devices (portrait phones, less than 576px)*/
  @media (max-width: 575.98px) {
    html {
      font-size: 5px;
    }

    /* header style */
    .navbar__data {
      margin-top: 2rem;
      padding-left: 0rem;
    }

    .navbar__data,
    .navbar__authorization {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    /* content style */
    .content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      position: relative;
      height: auto;
    }

    /* information style */
    .information {
      border-right: 0;
      height: 100%;
      width: 100%;
    }

    .chart {
      min-height: 208px;
    }

    .orders {
      border: 6px solid #000;
      position: absolute;
      left: -6px;
      right: -6px;
      height: 35rem;
    }

    .orders__title {
      white-space: normal;
    }

    .orders__title,
    .orders__data--section {
      padding: 0 1rem 0 0;
    }

    #pending .orders__title:nth-child(2),
    #pending .orders__data--section:nth-child(2) {
      width: 10%;
    }

    #pending .orders__title:nth-child(3),
    #pending .orders__data--section:nth-child(3) {
      width: 15%;
    }

    #pending .orders__title,
    #pending .orders__data--section {
      width: calc((55% - 6.4rem) / 3);
    }

    /* data style */
    .data {
      height: 100%;
      width: 100%;
    }

    .data__top {
      max-height: 50vh;
    }

    .data__left {
      border-right: 0;
      border-bottom: 1px solid #000;
    }

    .data__title h4 {
      padding: .5rem;
    }

    .data__value--numbers {
      padding: 0rem .5rem;
    }

    .data__left,
    .data__right {
      height: auto;
    }
  }

  @media (max-width: 374.98px) {
    .orders__sort {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }

  .form-group {
    margin-bottom: 0.5rem;
  }







  /* #region Grid styles */

  .grid-header {
    background-color: #EEEEEE;
  }

  .pager {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    position: relative;
    z-index: 9;
  }
  .pager .disabled a {
    background-color: #EBEBEB;
  }

  .pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #EBEBEB;
  }

  .table > thead > tr {
    background-color: #eeeeee;
    height: 30px;
  }

  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-right: 2px solid #F4F4F4;
    border-bottom: 2px solid #F4F4F4;
    border-left: 2px solid #F4F4F4;
  }

  .table > thead > tr {
    border-top: 1px solid #F4F4F4;
  }

  .table > thead > tr > th {
    border-bottom: 2px solid mediumpurple;
    font-weight: 600;
    padding: 4px 8px;
  }
  /* #endregion */

  /* #region Custom checkbox */
  [type='checkbox'] {
    position: absolute;
    left: -9999px;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    position: relative;
    cursor: pointer;
  }

  [type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before {
    content: "";
    position: absolute;
    top: -6px;
    left: -5px;
    width: 14px;
    height: 14px;
    border: 1px solid #818181;
    background: white;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
    -ms-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  }

  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    top: -6px;
    left: -5px;
    font-size: 11px;
    color: #333333;
    font-family: "Segoe ui symbol";
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }

  /* checked mark aspect changes */
  [type="checkbox"]:not(:checked) + label:after {
    -ms-opacity: 0;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  [type="checkbox"]:checked + label:after {
    -ms-opacity: 1;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  [type="checkbox"]:disabled:not(:checked) + label:before,
  [type="checkbox"]:disabled:checked + label:before {
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
  }

  [type="checkbox"]:disabled:checked + label:after {
    color: #999;
  }

  [type="checkbox"]:disabled + label {
    color: #aaa;
  }
  .pull-right {

  }
  .active-pager.disabled {
    opacity: .1;
  }

  .pager li {
    display: inline-block;
  }  

  @media (max-width: 575.98px) {
    .pager li a img {
      height: 15px;
      width: 15px;
    }
  }

  .pager li:last-child {
    margin-left: .5rem;
  }
  /* #endregion */

  .pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #EBEBEB;
  }

  .pager .disabled a {
    background-color: #EBEBEB;
  }

  .pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
  }

  .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .ko-grid-pageLinks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 2rem;
    padding-bottom: .2rem;
    padding-right: 10px;
  }
  .windows-icon-chevron-right:before {
    content: "";
    font-family: 'Segoe UI Symbol';
    font-size: 16px;
  }

  .windows-icon-chevron-left:before {
    content: "";
    font-family: 'Segoe UI Symbol';
    font-size: 16px;
  }
  .pager li > a:hover, .pager li > a:focus {
    text-decoration: none;
    background-color: #eee;
  }

  .pager li > a {
    background-color: #e7e7e7;
    border: none;
    border-radius: 0;
  }

  .pager li > a, .pager li > span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
  }
  .logoutBtn {
    background-color: transparent !important;
    font-size: 2rem !important;
    color: white !important;
  }
  .text-danger {
    font-size: 1.3rem !important;
    display: block !important;
    height: 13px !important;
  }
  .data__title.row h4 {
    font-size: 1.45rem !important;
  }