/* configuration styles */
.config {
	margin-bottom: 1rem;
}

.config .form-group {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.config .form-group label {
	flex-shrink: 0;
	font-size: 1rem;
	line-height: 1.1rem;
	margin: 0 1rem 0 0;
}

.config .form-group input[type=checkbox],
.config .form-group select {
	margin: 0 .5rem 0 0;
}

.config .form-control {
	padding: .2rem .4rem;
	font-size: 1rem;
	line-height: 1.1rem;
	width: auto;
}
