﻿@{
    ViewData["Title"] = "Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/wallet.js" asp-append-version="true"></script>
<main class="wallet content container-fluid">
    <div class="wallet__title">
        <h2>Account Balances</h2>
        <p>
            Estimated Holdings: <!--ko text: btcValueDisplay--><!--/ko--> BTC ($<!--ko text: usdValueDisplay--><!--/ko-->)
        </p>
    </div>
    <div class="wallet__nav">
        <div class="wallet__balances">
            <a href="javascript::void(0)" class="wallet__balances--link color-blue--light" data-bind="visible:!showSmallBalances(),click:toggleSmallBalances">Show small balances</a>
            <a href="javascript::void(0)" class="wallet__balances--link color-blue--light" data-bind="visible:showSmallBalances,click:toggleSmallBalances">Hide small balances</a>

            <i class="wallet__balances--info im im-question" data-toggle="tooltip" data-placement="bottom" data-template=".tooltip" data-html="true" title="wallet balances less than $1"></i>
            <div class="tooltip" role="tooltip">
                <div class="arrow">
                </div>
                <div class="tooltip-inner">
                </div>
            </div>
        </div>
        <div class="wallet__search">
            <button type="submit" for="search">
                <i class="im im-magnifier"></i>
            </button>
            <input type="text" placeholder="Search" data-bind="textInput: searchTerm">
        </div>
    </div>
    <div class="wallet__data">
        <div class="wallet__titles">
            <div class="wallet__titles-element">
                <span>
                    Symbol
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Name
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Available
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    On Withdrawals
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    On Trades
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Total
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    BTC Value
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    USD Value
                </span>
            </div>
            <div class="wallet__titles-element"></div>
        </div>
        <!--ko foreach: currencies-->
        <div class="wallet__currency">
            <div class="wallet__currency-element">
                <img data-bind="attr: { src: getImage($data),alt:code }" />
                <span>
                    <!--ko text: code--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: name--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: availableDisplay--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: pendingWithdrawlsDisplay--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: onTradesDisplay--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: totalDisplay--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: btcValueDisplay--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    $<!--ko text: usdValueDisplay--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element links">
                <a href="javascript:void(0)" class="color-blue--light" data-bind="click: $root.depositModel.showModal">Deposit</a>
                <a href="javascript:void(0)" class="color-blue--light" data-bind="click: $root.withdrawModel.showModal">Withdraw</a>
            </div>
        </div>
        <!--/ko-->
        <!-- Modal Deposit -->
        <div class="modal fade" data-bind="with: depositModel" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="depositModalLable" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="depositModalLable">Deposit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="color-warning">
                            <i class="im im-warning-circle"></i>
                            <span>Minimum deposit: <!--ko text: minDeposit--><!--/ko--> <!--ko text: code--><!--/ko--></span>
                        </h4>
                        <p class="color-warning">
                            We will not credit your account with tokens from that sale.<br>
                            Send only <strong data-bind="text:name"></strong> to this deposit address, depositing tokens other than <strong data-bind="text:name"></strong> to this address may result in your funds being lost.
                        </p>
                        <h3><!--ko text: name--><!--/ko--> (<!--ko text: code--><!--/ko-->)</h3>
                        <hr>
                        <p>Deposit address:</p>
                        <div class="modal-address">
                            <span data-bind="text:address"></span>
                            <a href="javascript:void(0)" data-bind="click:$parent.copyText" class="im im-copy"></a>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Withdraw -->
        <div class="modal fade" data-bind="with: withdrawModel" id="withdrawModal" tabindex="-1" role="dialog" aria-labelledby="withdrawModalLable" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="withdrawModalLable">Withdraw</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <h4 class="color-warning">
                            <i class="im im-warning-circle"></i>
                            <span>Minimum withdrawal: <!--ko text: minWithdrawal--><!--/ko--> <!--ko text: code--><!--/ko--></span>
                        </h4>
                        <p class="color-warning">
                            Please verify the address. We cannot refund an incorrect withdrawal.
                        </p>
                        <h3><!--ko text: name--><!--/ko--> (<!--ko text: code--><!--/ko-->)</h3>
                        <hr>
                        <form id="withdraw" class="modal-form">
                            <label for="withdrawRecipient">
                                Recipient's address
                            </label>
                            <input data-bind="value:address" type="text" value="56" data-val="true" data-val-required="The Address field is required." id="withdrawRecipient" name="withdrawRecipient" value="" aria-describedby="withdrawRecipient-error">
                            <span class="text-danger field-validation-valid" data-valmsg-for="withdrawRecipient" data-valmsg-replace="true"></span><br /><br />
                            <label for="withdrawAmount">
                                Amount (<a href="javascript:void(0)" data-bind="text:available,click:availableSelect"></a> available)
                            </label>
                            <input id="withdrawAmount" data-bind="value:amount,event: { 'change': changeAmount }" type="text" data-val="true" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." name="withdrawAmount" value="" aria-describedby="withdrawAmount-error" aria-invalid="false">
                            <span class="text-danger field-validation-valid" data-valmsg-for="withdrawAmount" data-valmsg-replace="true"></span><br />
                        </form>
                        <div class="modal-fee">
                            <div class="modal-fee-align">
                                <p>
                                    Fee: <!--ko text: fee--><!--/ko-->
                                </p>

                                <br>

                                <p>
                                    Received Amount: <!--ko text: totalAmount--><!--/ko-->
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bind="click:withdraw">Withdraw</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" tabindex="-1"  data-bind="with: withdrawModel" id="withdrawRequestModal" role="dialog" aria-labelledby="withdrawRequestModalLable" aria-hidden="true" style="padding-top: 15%">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" style="padding-top: 20px;">
                        <h3>Please check your e-mail in order to confirm the requested withdrawal.</h3>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click:withdrawRequest">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
    $(document).ready(function () {
        var jsonData = '@Html.Raw(ViewBag.JsonData)';
        initViewModel(jsonData);
    });
    </script>
<style>
    .text-danger.field-validation-error span {
        font-size: 1.5rem;
    }
</style>
