﻿
@{
    ViewData["Title"] = "Agreement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="markets content container-fluid">
    <div class="wallet__title">
        <h2>Terms of Use</h2>
    </div>
    <div class="category">
        <h1>General Information</h1>
        <p>
            This document describes the terms and conditions for using the webside located at http:// and all other services provided by EXX.
        </p>
        <p>
            By using and accessing this platform you accept and agree to be bound by and comply with these Terms of Use.
            EXX is an website used for trading various types of digital currencies.
            We reserve the right of changing these terms of use at any time without any notice,the new agreement takes effect at the moment it is published on.
        </p>
    </div>
    <div class="category">
        <h1>Access to platform</h1>
        <p>
            In order to use this platform you will have to register using the available interfaces and providing an user and password.
            These user and password (called credentials) used to access this platform should be kept safe and not provided to someone else.
        </p>
        <p>
            The customer agrees that he/she is more than 18 years old and the website is not prohibited in their country of residence.
            User agrees to not plan to perform any ilegal activity (e.g. fraud or money laundering) and the information they provided here are real and updated.
        </p>
    </div>
    <div class="category">
        <h1>
            Intellectual Property:
        </h1>
        <p>
            All the content, including (without limitation) all designs, infrastructure graphics, pictures, illustrations, software, logos and so on
            displayed on the platform, are owned or licensed by EXX and are protected by copyright, trade-mark and other intellectual property laws.
        </p>
    </div>
    <div class="category">
        <h1>
            Risk warning:
        </h1>
        <p>
            By accepting these Terms of Use you assume liability for any loss arising from the use of Service.
        </p>
        <p>
            EXX is not responsible for possible losses due to the User's actions, such as providing invalid information about prices, the amount of transactions as well as the inaccessibility of the website and possible system failures.
        </p>
    </div>
    <div class="category">
        <h1>
            Other
        </h1>
        <p>
            We reserve the right to suspend the access for anyone who is suspect of any reason including, but not limited to, violating this term of use or any obstruction of good service working.\
            We do not guarantee that will be no technical issues and the website will have to be suspended due to the issues occurred or regular updates.
        </p>
        <p>
            For any issue please contact the support team.
        </p>
    </div>
</main>
<style>
    .markets.content.container-fluid {
        font-size: 1.65px;
    }
    .markets.content.container-fluid .category{
        padding-bottom:10px;
    }
</style>