﻿@page
@model IndexModel
@using WebUI.Helpers
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="v-pills-home-tab">

    <h2>@ViewData["Title"]</h2>
    <partial name="_StatusMessage" for="StatusMessage" />

    <form class="login__form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username"></label>
            <input type="text" asp-for="Username" size="50" />
        </div>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input type="email" asp-for="Input.Email" size="50" />
        </div>
        <div class="form-group">
            <label asp-for="Input.PhoneNumber"></label>
            <input type="email" asp-for="Input.PhoneNumber" size="50" />
        </div>
        <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}