﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    var routeParams = new Dictionary<string, string>
    {
        { "returnUrl", Context.Request.Path }
    };
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" class="next-head" />
    <meta name="keywords" content="Digital Asset Exchange, Blockchain Crypto Exchange, Cryptocurrency Trading Platform, Buy Bitcoin, Sell Bitcoin, Buy Ethereum, Sell Ethereum" class="next-head" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/js/iziToast.js"></script>
    <link href="~/css/iziToast.min.css" rel="stylesheet" />
    <link href="~/css/iconmonstr-iconic-font.min.css" rel="stylesheet" />

    <link rel="icon" type="image/ico" href="~/img/favicon.png" />
    <link rel="shortcut icon" href="~/img/favicon.png" />

    <script src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.loadingModal.min.js" asp-append-version="true"></script>
    <script src="~/js/knockout-3.4.2.js" asp-append-version="true"></script>
    <script src="~/js/knockout.mapping-min.js" asp-append-version="true"></script>
    <script src="~/js/core.js" asp-append-version="true"></script>
    <script src="~/js/wallet.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="~/css/jquery.loadingModal.min.css" />
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <!-- Start .header -->
    <header class="header container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bgcolor-grey--light">
            <div class="navbar__container d-flex">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index" style="padding-left:20px">
                    <img src="~/img/logo.png" alt="logo">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarmenu"
                    aria-controls="navbarmenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarmenu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/markets" title="Markets">Markets</a>
                    </li>
                    &nbsp;&nbsp;
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="walletDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            In/Out
                        </a>
                        <div class="dropdown-menu bgcolor-grey--light" aria-labelledby="walletDropdown">
                            <a class="dropdown-item" href="/deposits">Deposits</a>
                            <a class="dropdown-item" href="/withdrawals">Withdrawals</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ordersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Orders
                        </a>
                        <div class="dropdown-menu bgcolor-grey--light" aria-labelledby="ordersDropdown">
                            <a class="dropdown-item" href="/pending-orders">Pending Orders</a>
                            <a class="dropdown-item" href="/history-orders">History Orders</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/wallet" title="Wallet">Wallet</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
                    </li>
                        <li class="nav-item active">
                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button style="background:transparent" type="submit" class="nav-link btn logoutBtn">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register" asp-all-route-data="routeParams">Register</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" asp-all-route-data="routeParams">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <!-- End /.header -->
    <!-- Start .content -->
    @RenderBody()
    <!-- End /.content -->
    <!-- Start .footer -->
    <footer class="footer bgcolor-grey--dark">
        <div class="footer__links">
            <ul class="footer__menu">
                <li>
                    <a href="/agreement" class="footer__link">Agreement</a>
                </li>
                <li>
                    <a href="/fees" class="footer__link">Fees</a>
                </li>
                <li>
                    <a href="/contact" class="footer__link">Contact</a>
                </li>
                <li>
                    <a href="/apply-listing" class="footer__link">Apply Listing</a>
                </li>
            </ul>
            <div class="footer__soc">
                <a href="https://twitter.com/SwapperTech" target="_blank">
                    <i class="im im-twitter"></i>
                </a>
                <!--
    <a href="#">
        <i class="im im-facebook"></i>
    </a>
    <a href="#">
        <i class="im im-reddit"></i>
    </a>
    <a href="#">
        <i class="im im-instagram"></i>
    </a>
    <a href="#">
        <i class="im im-skype"></i>
    </a>
                    -->
            </div>
        </div>
        <hr>
        <div class="footer__copyright">
            <span>
                &copy; 2019 swapper.tech. All rights reserved
            </span>
        </div>
    </footer>
    <!-- End /.footer -->
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>