/* admin styles */
.admin {
	padding: 1rem;
}

.admin__dot {
  color: #999;
  font-size: 1.5rem;
  line-height: 10px;
  margin: 0 .5rem;
}

.admin__avatar {
	background-color: #333;
  border-radius: .2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: .5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.admin__avatar span {
  color: #fff;
}

.admin__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.admin__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
}

.admin__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: .5rem;
}

.admin__data h2 {
  color: #0c66b4;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.admin__data h3 {
  color: #999;
  font-size: .8rem;
  margin: 0;
}

.admin__rejected {
  background-color: #ddd;
  border: none;
  border-radius: .2rem;
  padding: .2rem 1.2rem;
}

.admin__rejected svg {
  color: #ff4800;
}

.admin__rejected.active svg {
  color: #f00;
}