﻿@model string
@{
    ViewData["Title"] = "Deposits";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/deposits.js" asp-append-version="true"></script>
<main class="wallet content container-fluid">
    <div class="wallet__title">
        <h2>Deposits</h2>
        <p>
            Currency:
            <select data-bind="options: currencies,
                       optionsText: 'name',
                       value: selectedCurrency,
                       optionsCaption: '--All Currencies--'"></select>
        </p>
        <p>
            Start Date:
            <input type="text" data-bind="value:startDate" placeholder="mm/dd/yyyy" />
        </p>
        <p>
            End Date:
            <input type="text" data-bind="value:endDate" placeholder="mm/dd/yyyy" />
        </p>
        <p>
            <input type="button" value="Filter" data-bind="click:filter" />
        </p>
    </div>
    <div class="wallet__nav">
        <div class="wallet__balances">
        </div>
    </div>
    <div class="wallet__data deposits">
        <div class="wallet__titles">
            <div class="wallet__titles-element" style="width:12%">
                <span>
                    Status
                </span>
            </div>
            <div class="wallet__titles-element" style="width:17%">
                <span>
                    Currency
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Quantity
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Time
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Transaction
                </span>
            </div>
        </div>
        <!--ko foreach: deposits-->
        <div class="wallet__currency">
            <div class="wallet__currency-element time" style="width:12%">
                <span>
                    <!--ko text: status--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element" style="width:17%">
                <span>
                    <img data-bind="attr: { src: getImage($data.code()),alt:code }" style="margin-right: 0.3rem;" /><!--ko text: name--><!--/ko-->&nbsp;(<!--ko text: code--><!--/ko-->)
                </span>
            </div>
            <div class="wallet__currency-element">
                <span class="color-green">
                    <!--ko text: quantity--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: dateAndTimeDisplay().time--><!--/ko--> <!--ko text: dateAndTimeDisplay().date--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <a data-bind="attr: { href: transactionUrl }" href="javascript:void(0)" target="_blank">view</a>
                </span>
            </div>
        </div>
        <!--/ko-->
    </div>
    <!--ko if: showExceedMessage-->
    <p style="padding-top:10px">
        <h3 style="color:red;">There are more than 100 items. Please use the top section to filter the results.</h3>
    </p>
    <!--/ko-->
</main>
    <script>
    $(document).ready(function () {
        var jsonData = '@Html.Raw(Model)';
        initViewModel(jsonData);
    });
    </script>
    <style>
        .wallet__titles-element:first-child, .wallet__currency-element:first-child {
            width: 20%;
        }

        .deposits a {
            color: #007bff !important;
        }
    </style>
