﻿@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<section class="confirm">
    <div class="confirm__title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <p>
        Please check your email to reset your password.
    </p>
</section>