﻿@page
@model LoginWith2faModel
@using WebUI.Helpers
@{
    ViewData["Title"] = "Two-factor authentication";
}

<section class="login">
    <div class="login__title">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
    </div>
    <hr class="login__hr">
    <form class="login__form" method="post" asp-route-returnUrl="@Model.ReturnUrl">
        <input asp-for="RememberMe" type="hidden" />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="login__form-group">
            <label asp-for="Input.TwoFactorCode"></label>
            <input asp-for="Input.TwoFactorCode" autocomplete="off" />
            <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
        </div>
        @Html.GoogleInvisibleReCaptcha("Log in")
    </form>
    <p>
        Don't have access to your authenticator device? You can
        <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
    </p>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}