﻿@page
@model LoginModel
@using WebUI.Helpers

@{
    ViewData["Title"] = "Log in";
}

<section class="login">
    <div class="login__title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <hr class="login__hr">
    <form class="login__form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="login__form-group">
            <label asp-for="Input.Email"></label>
            <input type="email" asp-for="Input.Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="login__form-group">
            <label asp-for="Input.Password"></label>
            <input type="password" asp-for="Input.Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="login__form-group custom-control custom-checkbox">
            <input type="checkbox" asp-for="Input.RememberMe" class="custom-control-input" />
            <label asp-for="Input.RememberMe" class="custom-control-label">@Html.DisplayNameFor(m => m.Input.RememberMe)</label>
        </div>
        @Html.GoogleInvisibleReCaptcha("Log in")
    </form>
    <div class="login__footer">
        <a id="forgetPassword" asp-page="./ForgotPassword">Forgot your password?</a>
        <span>
            Don't have an account?
            <a id="register" asp-page="./Register">Register</a>
        </span>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
