﻿@page
@model RegisterMessage
@using WebUI.Helpers
@{
    ViewData["Title"] = "Register Message";
}
<section class="confirm">
    <div class="confirm__title">
        <h1>You are almost there!</h1>
    </div>
    <p>
        A confirmation email has been sent to <strong>@(Model.Email)</strong>.
    </p>
    <p>
        Click on the confirmation link in the email to activate your account.
    </p>
    <p>
        If you have not received our email in 10 minutes, please check your spam folder.
    </p>
    <p>
        If this still does not help, please contact the Support Team at <strong>@(Model.ContactEmail)</strong>.
    </p>
</section>