﻿@page
@model ResetPasswordModel
@using WebUI.Helpers
@{
    ViewData["Title"] = "Reset password";
}

<section class="signup">
    <div class="signup__title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <hr class="signup__hr">
    <form class="signup__form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="signup__form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="signup__form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="signup__form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        @Html.GoogleInvisibleReCaptcha("Reset")
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

