﻿@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<section class="confirm">
    <div class="confirm__title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <p>
        Your password has been reset. Please click <a asp-page="./Login">here</a> to log in.
    </p>
</section>
<style>
    a {
        color: #007bff !important;
    }
</style>