/* mcomments styles */
.mcomments {
  background-color: #fff;
  color: #333;
  margin: 0 auto;
  padding: 0 1rem 1rem;
  max-width: 70rem;
}

.mcomments__dot {
  color: #999;
  background-color: #999;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  margin: 0 .5rem;
  height: 6px;
  width: 6px;
}

.mcomments__avatar {
  background-color: #333;
  border-radius: .2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: .5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.mcomments__avatar span {
  color: #fff;
}

.mcomments__recommends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: flex-end;
  height: 3rem;
}

.mcomments__dropdown h2 {
  display: inline-block;
  font-size: 1rem;
  margin: 0;
}

.mcomments__dropdown select {
  background-color: #ddd;
  border: none;
  border-radius: .2rem;
  color: #222;
  padding: .2rem .4rem;
}

.mcomments__content {
  padding: .5rem 0rem;
}

.mcomments__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.mcomments__post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.5rem;
}

.mcomments__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mcomments__data-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .3rem;
}

.mcomments__data-header h2 {
  color: #0c66b4;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1rem;
  margin: 0;
}

.mcomments__data-header h3 {
  color: #999;
  font-size: .8rem;
  line-height: .9rem;
  margin: 0;
}

.mcomments__data-content {
  margin-bottom: .3rem;
}

.mcomments__data-content p {
  font-size: 1rem;
  margin: 0;
}

.mcomments__data-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mcomments__data-nav button {
  background-color: transparent;
  border: none;
  color: #999;
  padding: 0;
}

.mcomments__data-nav button svg {
  font-size: .9rem;
}

.mcomments__like,
.mcomments__dislike {
  margin-right: .5rem;
}

.mcomments__like svg,
.mcomments__dislike svg {
  color: #2e9fff;
}

.mcomments__like.active svg,
.mcomments__dislike.active svg {
  color: #2e57ff;
}

.mcomments__trash svg {
  color: #aaa;
}

.mcomments__trash.active svg {
  color: #777;
}

.mcomments__data-confirm button {
  background-color: #ddd;
  border: none;
  border-radius: .2rem;
  margin-top: .5rem;
  padding: .3rem 1.2rem;
}

.mcomments__data-confirm button svg {
  font-size: 1.2rem;
}

.mcomments__done svg {
  color: #008000;
}

.mcomments__done.active svg {
  color: #003800;
}

.mcomments__rejected svg {
  color: #ff4800;
}

.mcomments__rejected.active svg {
  color: #f00;
}

.mcomments__more button {
  background-color: #2e9fff;
  border: none;
  border-radius: .2rem;
  color: #fff;
  font-size: 1.1rem;
  padding: .25rem 0;
  width: 100%;
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }

  /* mcomments styles */
  .mcomments {
    padding: 0 .5rem .5rem;
  }

  .mcomments__avatar {
    height: 2rem;
    width: 2rem;
  }
}

