﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    var routeParams = new Dictionary<string, string>
{
{ "returnUrl", Context.Request.Path }
};
}
@{
    ViewData["Title"] = "Swapper.tech | Cryptocurrency Exchange | Buy & Sell Cryptocurrencies";
    ViewData["Description"]= "Swapper.tech is a fast and seucure cryptocurrency exchange to buy and sell different types of currencies like Bitcoin,Ethereum and more";
    ViewData["Keywords"] = "Digital Asset Exchange, Blockchain Crypto Exchange, Cryptocurrency Trading Platform, Buy Bitcoin, Sell Bitcoin, Buy Ethereum, Sell Ethereum";
}

<main class="home content container-fluid">
    <!-- Start .home__intro -->
    <div class="home__intro text-center">
        <h1>
            DIGITAL CURRENCY EXCHANGE
        </h1>
        <div class="home__buttons">
            <a href="/markets" class="home__button">
                View markets <i class="im im-line-chart-up"></i>
            </a>
            @if (SignInManager.IsSignedIn(User))
            {
                <a href="/wallet" class="home__button">
                    Wallet<i class="im im-coin"></i>
                </a>
            }
            else
            {
                <a href="/account/register" class="home__button">
                    Register now<i class="im im-user-circle"></i>
                </a>
            }
        </div>
    </div>
    <!-- End /.home__intro -->
    <!-- Start .home__provide -->
    <div class="home__provide">
        <div class="home__elements row">
            <div class="home__element col-lg-3 col-md-6 col-12">
                <div class="home__img">
                    <img src="img/security.png" alt="Security">
                </div>

                <h3>
                    Security
                </h3>

                <p>
                    Security is by far our top priority. In order to keep assets safe we are using multiple layers of protection.
                </p>
            </div>

            <div class="home__element col-lg-3 col-md-6 col-12">
                <div class="home__img">
                    <img src="img/currencies.png" alt="Multiple Currencies">
                </div>

                <h3>
                    Multiple Currencies
                </h3>

                <p>
                    We plan to support a large number of crypto currencies and markets.
                </p>
            </div>

            <div class="home__element col-lg-3 col-md-6 col-12">
                <div class="home__img">
                    <img src="img/functionality.png" alt="Growing functionality">
                </div>

                <h3>
                    Growing functionality
                </h3>

                <p>
                    We are always searching for new functionalities to be implemented and build the platform with the latest technologies.
                </p>
            </div>

            <div class="home__element col-lg-3 col-md-6 col-12">
                <div class="home__img">
                    <img src="img/support.png" alt="Support">
                </div>

                <h3>
                    Support
                </h3>

                <p>
                    We offer a 24h support,trying to answer your queries as quickly as possible.
                </p>
            </div>
        </div>
    </div>
    <!-- End /.home__provide -->
</main>