﻿@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<section class="confirm">
    <div class="confirm__title">
        <h1>Email Activation Successful</h1>
    </div>
    <p>
        Your account has been successfully activated. Please  <a asp-area="identity" asp-page="/account/login">login</a> to start trading.
    </p>
</section>
<style>
    a {
        color: #007bff !important;
    }
</style>