﻿@page
@model ForgotPasswordModel
@using WebUI.Helpers
@{
    ViewData["Title"] = "Forgot your password?";
}

<section class="signup">
    <div class="signup__title">
        <h1>@ViewData["Title"]</h1>
    </div>
    <hr class="signup__hr">
    <form class="signup__form" method="post">
        <div class="signup__form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        @Html.GoogleInvisibleReCaptcha("Submit")
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
