﻿@page
@model LoginWithRecoveryCodeModel
@using WebUI.Helpers
@{
    ViewData["Title"] = "Recovery code verification";
}

<section class="login">
    <div class="login__title">
        <h1>@ViewData["Title"]</h1>
        <p>
            You have requested to log in with a recovery code. This login will not be remembered until you provide
            an authenticator app code at log in or disable 2FA and log in again.
        </p>
    </div>
    <hr class="login__hr">
    <form class="login__form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="login__form-group">
            <label asp-for="Input.RecoveryCode"></label>
            <input asp-for="Input.RecoveryCode" autocomplete="off" />
            <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
        </div>
        @Html.GoogleInvisibleReCaptcha("Log in")
    </form>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}