﻿/* user list styles */
.user-list {
	padding: 1rem;
}

.user-list__dropdown {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
}

.user-list__dropdown h2 {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.1rem;
  margin: 0;
}

.user-list__dropdown select {
  background-color: #ddd;
  border: none;
  border-radius: .2rem;
  color: #222;
  margin: 0;
  padding: .2rem .4rem;
}

.user-list__dot {
  color: #999;
  font-size: 1.5rem;
  line-height: 10px;
  margin: 0 .5rem;
}

.user-list__avatar {
	background-color: #333;
  border-radius: .2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: .5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.user-list__avatar span {
  color: #fff;
}

.user-list__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.user-list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  align-items: center;
  margin-bottom: 1.5rem;
}

.user-list__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: .5rem;
}

.user-list__data h2 {
  color: #0c66b4;
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.user-list__data h3 {
  color: #999;
  font-size: .8rem;
  margin: 0;
}

.user-list__rejected {
  background-color: #ddd;
  border: none;
  border-radius: .2rem;
  padding: .2rem 1.2rem;
}

.user-list__rejected svg {
  color: #ff4800;
}

.user-list__rejected.active svg {
  color: #f00;
}

.user-list__more button {
  background-color: #2e9fff;
  border: none;
  border-radius: .2rem;
  color: #fff;
  font-size: 1.1rem;
  padding: .25rem 0;
  width: 100%;
}

#tabs {
    border: 0px !important;
}