﻿@model ApplyListingModel
@using WebUI.Helpers
@{
    ViewData["Title"] = "Apply Listing";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
@if (ViewData["Message"] == null)
{
    <section class="signup">
        <div class="signup__title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <hr class="signup__hr">
        <form class="signup__form" method="post">

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="signup__form-group">
                <label asp-for="ContactEmail"></label>
                <input asp-for="ContactEmail" />
            </div>
            <div class="signup__form-group">
                <label asp-for="CurrencyName"></label>
                <input asp-for="CurrencyName" />
            </div>
            <div class="signup__form-group">
                <label asp-for="CurrencySymbol"></label>
                <input asp-for="CurrencySymbol" />
            </div>
            <div class="signup__form-group">
                <label asp-for="WebsiteUrl"></label>
                <input asp-for="WebsiteUrl" placeholder="https://" />
            </div>
            <div class="signup__form-group">
                <label asp-for="BlockchainExplorer"></label>
                <input asp-for="BlockchainExplorer" placeholder="https://" />
            </div>
            <div class="signup__form-group">
                <label asp-for="Twitter"></label>
                <input asp-for="Twitter" placeholder="https://" />
            </div>
            <div class="signup__form-group">
                <label asp-for="OtherInformation"></label>
                <textarea asp-for="OtherInformation" style="height:120px;font-size: 1.5rem;"></textarea>
            </div>
            @Html.GoogleInvisibleReCaptcha("Send")
        </form>

    </section>
}
else
{
    <section class="confirm">
        <p>
            @ViewData["Message"]
        </p>
    </section>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}