﻿@model string
@{
    ViewData["Title"] = "History Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/historyOrders.js" asp-append-version="true"></script>
<main class="wallet history content container-fluid">
    <div class="wallet__title">
        <h2>History Orders</h2>
        <p>
            <span class="wallet__title--name">Currency:</span>
            <select data-bind="options: currencies,
                       optionsText: 'name',
                       value: selectedCurrency,
                       optionsCaption: '--All Currencies--'"></select>
        </p>
        <p>
            <span class="wallet__title--name">Start Date:</span>
            <input type="text" data-bind="value:startDate" placeholder="mm/dd/yyyy" />
        </p>
        <p>
            <span class="wallet__title--name">End Date:</span>
            <input type="text" data-bind="value:endDate" placeholder="mm/dd/yyyy" />
        </p>
        <p>
            <input type="button" value="Filter" data-bind="click:filter" />
        </p>
    </div>
    <div class="wallet__nav">
        <div class="wallet__balances">
        </div>
    </div>
    <div class="wallet__data">
        <div class="wallet__titles">
            <div class="wallet__titles-element">
                <span>
                    Time
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Market
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Type
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Price
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Quantity
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Volume
                </span>
            </div>
        </div>
        <!--ko foreach: pendingOrders-->
        <div class="wallet__currency">
            <div class="wallet__currency-element time">
                <span>
                    <!--ko text: dateAndTimeDisplay().time--><!--/ko--> <!--ko text: dateAndTimeDisplay().date--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <a data-bind="attr:{ href:'/trade/'+$data.marketCode()}">
                    <img data-bind="attr: { src: getImage($data.from()),alt:from }" /><!--ko text: from--><!--/ko-->/<br/><img data-bind="attr: { src: getImage($data.to()),alt:to }" /><!--ko text: to--><!--/ko-->
                    </a>
                </span>
            </div>
            <div class="wallet__currency-element">
                <span data-bind="css: type() === 'Sell' ? 'color-red' : 'color-green'">
                    <!--ko text: type--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: priceDisplay--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: quantityDisplay--><!--/ko--> <!--ko text: to--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: volume--><!--/ko--> <!--ko text: from--><!--/ko-->
                </span>
            </div>
        </div>
        <!--/ko-->
    </div>
    <!--ko if: showExceedMessage-->
    <p style="padding-top:10px">
        <h3 style="color:red;">There are more than 100 items. Please use the top section to filter the results.</h3>
    </p>
    <!--/ko-->
</main>
    <script>
    $(document).ready(function () {
        var jsonData = '@Html.Raw(Model)';
        initViewModel(jsonData);
    });
    </script>
    <style>
        .wallet__titles-element:first-child, .wallet__currency-element:first-child {
            width: 20%;
        }
        .wallet__currency-element a {
            color: inherit !important;
        }
    </style>
