﻿@{
    //Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<main class="markets content container-fluid">
    <h1 style="font-size:3.5rem">Manage your account</h1>
    <section>
        <hr class="login__hr" />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="tab-content" id="v-pills-tabContent" style="width: 70%;">
                @RenderBody()
            </div>
        </div>
    </section>
</main>
    @section Scripts {
        @RenderSection("Scripts", required: false)
    }

    <style>
        .form-group label {
            color: inherit !important;
        }

        .form-group label {
            width: 40% !important;
        }

        .form-group input {
            background-color: #fff !important;
            color: inherit !important;
        }

        h1, .h1 {
            font-size: 3rem;
        }

        .btn.btn-primary {
            background-color: #4c7aa9;
            border: 0;
            border-radius: .5rem;
            color: #fff;
            cursor: pointer;
            font-size: 2rem;
            padding: .5rem 0;
            width: 120px;
        }

        .text-danger.validation-summary-errors {
            font-size: 1.5rem;
        }

        .list a {
            color: inherit !important;
        }

        .list p, .list {
            font-size: 1.65rem;
        }
    </style>
