﻿@model string
@{
    ViewData["Title"] = "Pending Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/pendingOrders.js" asp-append-version="true"></script>
<main class="wallet content container-fluid">
    <div class="wallet__title">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="wallet__nav">
        <div class="wallet__balances">
        </div>
    </div>
    <div class="wallet__data">
        <div class="wallet__titles">
            <div class="wallet__titles-element">
                <span>
                    Time
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Market
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Type
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Price
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Quantity
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Volume
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                    Filled
                </span>
            </div>
            <div class="wallet__titles-element">
                <span>
                </span>
            </div>
        </div>
        <!--ko foreach: pendingOrders-->
        <div class="wallet__currency">
            <div class="wallet__currency-element time">
                <span>
                    <!--ko text: dateAndTimeDisplay().time--><!--/ko--> <!--ko text: dateAndTimeDisplay().date--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <a data-bind="attr:{ href:'/trade/'+$data.marketCode()}">
                        <img data-bind="attr: { src: getImage($data.from()),alt:from }" /><!--ko text: from--><!--/ko-->/<img data-bind="attr: { src: getImage($data.to()),alt:to }" /><!--ko text: to--><!--/ko-->
                    </a>
                </span>
            </div>
            <div class="wallet__currency-element">
                <span data-bind="css: type() === 'Sell' ? 'color-red' : 'color-green'">
                    <!--ko text: type--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: priceDisplay--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: quantityDisplay--><!--/ko--> <!--ko text: to--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: volume--><!--/ko--> <!--ko text: from--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <!--ko text: filled--><!--/ko--> <!--ko text: to--><!--/ko-->
                </span>
            </div>
            <div class="wallet__currency-element">
                <span>
                    <button data-bind="click:$root.deletePendingOrder">delete</button>
                </span>
            </div>
        </div>
        <!--/ko-->
    </div>
</main>
    <script>
    $(document).ready(function () {
        var jsonData = '@Html.Raw(Model)';
        initViewModel(jsonData);
    });
    </script>
    <style>
        .wallet__titles-element:first-child, .wallet__currency-element:first-child {
            width: 20%;
        }
        .wallet__currency-element a{
            color: inherit !important;
        }
    </style>
